{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.no-wrap{
    white-space: nowrap;
}
#id_employee {
    height: 10rem;
    overflow-y: scroll;
    font-size: 0.98rem;
    padding: .5rem 1.06rem;
    border-color: #e5e9f2;
    border: 1px solid #ced4da;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
display: none;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Create New Leadership Level</h2>
                      {% if error %}
                         <script>
                              alert("{{error}}");
                          </script>
                      {% endif %}

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="row">
                            <div class="col">
                                <form method="post" id="lshiplevelform" class="form-horizontal" action="{% url 'lship_create_level' %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-auto col-form-label required-field">{{ form.level_name.label }}</label>
                                    <div class="col-sm-3">
                                       {% render_field form.level_name class="form-control" %}
                                    </div>

                                  </div>
                                    <div class="form-group row">
                                    <label class="col-sm-auto col-form-label required-field">Description</label>
                                        <div class="col-sm-3">
                                            {% render_field form.level_description rows="6" class="form-control" %}
                                        </div>
                                    </div>


                                <div class="row">
                                    <div class="col-sm-7">
                                    </div>
                                    <div class="col-sm-2">
                                            <button class="btn btn-primary" style="float: right;" type="submit">Create Level</button>
                                    </div>
                                    <div class="col-sm-2">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                </div>
                        </form>
                        <br>

                            </div>
                        </div>


                    </div>

</div>
<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-admin-active").addClass( "active" );
   $("#dashboard").addClass( "show" );
});


</script>
{% endblock %}