
{% load mathfilters %}
{% with number=0 %}
{% for counter in '12345'|make_list %}

    <tr>
        <td style="border:1px solid #000000;{% if counter == '1' %}background: red;color: white;{% elif counter == '2' or counter == '3' %}background: yellow;color: black;{% elif counter == '4' or counter == '5' %}background: green;color: black;{% else %}{% endif%}">{{counter}}</td>
        <td style="border:1px solid #000000;"><textarea  name="score_{{counter}}" cols="40" rows="2" class="form-control" required="" id="score"></textarea>
        <input type="hidden" name="scorelist" value="score_{{ counter }}"></td>
    </tr>
{% endfor %}
{% endwith %}