{% load static %}
{% load mathfilters %}
{% with number=0 %}
{% for els in lship_list %}

    <tr>
        <td style="border:1px solid #000000;" data-toggle="collapse" data-target="#tr_{{ els.id_x }}"><img src="{% static 'assessment_app/images/global/details_open.png' %}" alt="User Image" /></td>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{els.category_name}}</td>
        <td style="border:1px solid #000000;"><strong>{{els.level_name}}</strong></td>
        <td style="border:1px solid #000000;"><input type="text" name="description_{{ els.id_x }}" value="{{els.description}}" maxlength="2000" class="form-control">
                                            <input type="hidden" name="descriptionlist" value="description_{{ els.id_x }}"></td>
        <td style="border:1px solid #000000;" class="rating">{% if els.score__score %} {{els.score__score|floatformat:0}} {% else %} {{els.score__score|floatformat:0}} {% endif %}</td>
    </tr>
    <tr class="collapse tr_rate" id="tr_{{ els.id_x }}">
        <td colspan="6">
            <table class="table table-striped" id="" style="width:100%;text-align: center;color:black">
                <thead style="background: #4A8BC2;">
                  <tr>
                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Score</th>
                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Representation</th>
                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Marks</th>
                  </tr>
                </thead>
                <tbody id="elsRatingTbody">
                        <tr>
                            <td style='border:1px solid #000000;background: light grey;color: black;'>0</td>
                            <td style="border:1px solid #000000;">Not Audited</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 0 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_0" name="marks_{{ els.id_x }}" ></td>
                        </tr>
                        <tr>
                            <td style='border:1px solid #000000;background: red;color: black;'>1</td>
                            <td style="border:1px solid #000000;">{{els.1_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 1 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_1" name="marks_{{ els.id_x }}" ></td>
                        </tr>
						<tr>
                            <td style='border:1px solid #000000;background: yellow;color: black;'>2</td>
                            <td style="border:1px solid #000000;">{{els.2_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 2 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_2" name="marks_{{ els.id_x }}" ></td>
                        </tr>
						<tr>
                            <td style='border:1px solid #000000;background: yellow;color: black;'>3</td>
                            <td style="border:1px solid #000000;">{{els.3_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 3 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_3" name="marks_{{ els.id_x }}" ></td>
                        </tr>
						<tr>
                            <td style='border:1px solid #000000;background: green;color: black;'>4</td>
                            <td style="border:1px solid #000000;">{{els.4_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 4 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_4" name="marks_{{ els.id_x }}" ></td>
                        </tr>
						<tr>
                            <td style='border:1px solid #000000;background: green;color: black;'>5</td>
                            <td style="border:1px solid #000000;">{{els.5_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 5 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_5" name="marks_{{ els.id_x }}" ></td>
                        </tr>
                </tbody>
              </table>
        </td>
    </tr>

{% endfor %}
{% endwith %}