{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.no-wrap{
    white-space: nowrap;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hide{
display: none;
}

.hideit{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}

</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'assessment_app/js/employee_section.js' %}"> </script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Create New User</h2>
                      {% if error %}
                         <script>
                              alert("{{error}}");
                          </script>
                      {% endif %}

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="row">
                            <div class="col">
                                <form method="post" class="form-horizontal" action="{% url 'employee_create' %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required-field no-wrap">Username:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="username" required>
                                    </div>
                                  </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required-field no-wrap">First Name:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="fname" required>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-2 col-form-label required-field no-wrap">Last Name:</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" name="lname" required>
                                    </div>
                                  </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required-field">Email ID:</label>
                                    <div class="col-sm-3">
                                        <input type="email"  class="form-control" name="email" required>
                                    </div>
                                  </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required-field">{{ form.designation_title.label }}</label>
                                    <div class="col-sm-3">
                                        {% render_field form.designation_title class="form-control" %}
                                    </div>
                                    <label class="col-sm-2 col-form-label required-field">Employee Type:</label>
                                    <div class="col-sm-3" id="is_orc_emp">
                                        {% render_field form.is_orc_employee class="form-control" required=True %}
                                    </div>
                                </div>

                                <div class="form-group row">


                                    <label class="col-sm-2 col-form-label is_admin_dd required-field hide">Is Admin:</label>

                                    <div class="col-sm-3 is_admin_dd hide">
                                        <select name="is_superuser" class="form-control" id="id_is_superuser">
                                            <option value="True">Admin</option>

                                            <option value="False" selected="">Non Admin</option>

                                          </select>
                                    </div>


                                    <label class="col-sm-2 col-form-label portco_dd required-field hide">Portfolio Company:</label>
                                    <div class="col-sm-3 portco_dd hide">
                                        {% render_field form.portco class="form-control"%}
                                    </div>



                                </div>



                                <div class="row">
                                    <div class="col-sm-7">
                                    </div>
                                    <div class="col-sm-2">
                                            <button class="btn btn-primary"  type="submit">Submit</button>
                                    </div>
                                    <div class="col-sm-2">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                </div>
                        </form>
                        <br>

                            </div>
                        </div>
                    </div>

</div>
<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>

$( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-admin-active").addClass( "active" );
   $("#dashboard").addClass( "show" );
});

$("#id_is_orc_employee").change(function () {
      var valu = $(this).val();
      if(valu == "True")
        {
            $(".is_admin_dd").removeClass( "hide" );
            $(".portco_dd").addClass( "hide" );
            $("#id_is_superuser").prop('required',true);
            $("#id_portco").prop('required',false);

        }
        else if(valu == "False")
        {
            $(".portco_dd").removeClass( "hide" );
            $(".is_admin_dd").addClass( "hide" );
            $("#id_portco").prop('required',true);
            $("#id_is_superuser").prop('required',false);
        }
    });

</script>

{% endblock %}

