{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<style>
    dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'assessment_app/js/employee_section.js' %}"> </script>

{% if messages %}
  <script>
      {% for message in messages %}
          $(document).ready(function () {
              $('.toast').toast('show');
          });
      {% endfor %}
  </script>
{% endif %}
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between" id="card_header">
                      <h2 style="font-size: 1.8rem;">Employee Details</h2>
                      {% if error %}
                          <script>
                              alert("{{error}}");
                          </script>
                      {% endif %}
                      <form method="get" class="form-inline" style="margin-left:0px;">
                           
                          <div class="form-group">
                              <lable style="color:black">Status: </lable>&ensp;
                              <div>
                                  {% render_field myFilter.form.is_delete class="form-control" style="border-color: black;" %}
                              </div>
                          </div>&emsp;
                          <button class="btn btn-primary" type="submit">Search</button>
                      </form>
                    </div>
                    <div class="card-body pt-0 pb-5" style="">
                        <div class="btn-group">
								<button class="btn blueButton" onclick="location.href='{% url 'employee_create' %}'">
									<i class="fa fa-user-plus" aria-hidden="true"></i> Add Employee</button>
                                &nbsp;&nbsp;<input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
							</div>
                        <dl>
                            <dt class="blue"></dt>
                            <dd>Active Employee</dd>
                            <dt class="red"></dt>
                            <dd>Inactive Employee</dd>
                        </dl><br><br>
<!--                      <div class="table-responsive" style="display:block;height:300px;">-->
                      <table class="table table-striped" id="empTable" style="width:100%;text-align: center;cellspacing='0';color:black;">
                        <thead style="background: #4A8BC2;">
                          <tr>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">#</i></th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">User ID</i></th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Name</i></th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Email ID</i></th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Designation</i></th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Role</i></th>
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Status</i></th>-->
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Remove</th>-->
                          </tr>
                        </thead>
                        <tbody id="employeeTbody">
                          {% include 'admin/employee_section/employee_list.html' %}
                        </tbody>
                      </table>
<!--                          </div>-->
                    </div>

</div>


<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>

$( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-admin-active").addClass( "active" );
   $("#dashboard").addClass( "show" );
});

$(document).ready(function() {
   var table =  $('#empTable').DataTable({
        stripeClasses: [],
        scrollY:        '45vh',
        scrollCollapse: true
   });
  });

$(document).ready(function() {
    // show when page load
   if ('{{msg}}'.includes('added') || '{{msg}}'.includes('updated') || '{{msg}}'.includes('reset')) {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
     }
     else if ('{{msg}}'.includes('exist') || '{{msg}}'.includes('fail')) {
     toastr.error('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px");
     }
      else {
     //
     }
});
</script>
{% endblock %}