{% load mathfilters %}
{% with number=0 %}
{% for employee in employee_list %}

    <tr >
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{employee.user.username}}</td>
        <td style="border:1px solid #000000;">{{employee.user.first_name|add:" "|add:employee.user.last_name}}</td>
        <td style="border:1px solid #000000;">{{employee.user.email}}</td>
        <td style="border:1px solid #000000;">{{employee.designation_title}}</td>
        {% if employee.is_orc_employee == True and employee.user.is_superuser == True %}

        <td style="border:1px solid #000000;">System Administrator</td>

        {% elif employee.is_orc_employee == True and employee.user.is_superuser == False %}

        <td style="border:1px solid #000000;">ORC Employee</td>

        {% elif employee.is_orc_employee == False %}

        <td style="border:1px solid #000000;">Portfolio Manager</td>

        {% endif %}
<!--        <td style="border:1px solid #000000;">{% if employee.is_delete == True %} In Active {% else %} Active {% endif%}</td>-->
        <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if employee.is_delete == True %} background: red; {% else %} background: #2fade7; {% endif%}" class="btn"  onclick="location.href='{% url 'employee_update' employee.id %}'">Update</button></td>
    </tr>
{% endfor %}
{% endwith %}