{% load widget_tweaks %}
{% load mathfilters %}
{% with number=0 %}
{% for cp in tr %}

<form>
    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{cp.user.first_name|add:" "|add:cp.user.last_name}}</td>
        <td style="border:1px solid #000000;">{{cp.user.email}}</td>
        <td style="border:1px solid #000000;">{{cp.is_orc_employee}}</td>
        <td style="border:1px solid #000000;"> <input class="form-check-input" style="margin-top: -0.5rem;" type="checkbox" value=""> </td>
        <td style="border:1px solid #000000;">
            <button type="button" style="padding:5px 8px;color:white;background: red;" class="btn reject" data-url="{% url 'signuprequestapproval' cp.id 0 %}"><i class="fa fa-times" aria-hidden="true"></i></button>
            <button type="button" style="padding:5px 8px;color:white;background: green;" class="btn approve" data-url="{% url 'signuprequestapproval' cp.id 1 %}"><i class="fa fa-check" aria-hidden="true"></i></button>
        </td>
    </tr>
</form>
{% endfor %}
</form>
{% endwith %}