{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<style>
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Sign-Up Request</h2>
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="btn-group">
                            <button class="btn approve_all blueButton" data-url="#">
									<i class="fa fa-check" aria-hidden="true"></i> Approve All</button>
                            &nbsp;&nbsp;<input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
							</div><br><br>
<!--                      <div class="table-responsive" style="display:block;height:300px;">-->
                      <table class="table table-striped dataTable" id="signupRequestTable" style="width:100%;text-align: center;color:black">
                        <thead style="background: #4A8BC2;">
                          <tr>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Requestor</th>
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Client</th>-->
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fund</th>-->
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Email</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Is One Rock Employee</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Admin User</th>
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Broker</th>-->
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Quantity</th>-->
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Unit Cost (LC)</th>-->
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fx Rate</th>-->
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Cost (USD)</th>-->
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Approve</th>
                          </tr>
                        </thead>
                        <tbody id="employeeTbody">
                          {% include 'admin/signup_request/signup_request_list.html' %}
                        </tbody>
                      </table>
<!--                          </div>-->
                        <br>
                    </div>

</div>


<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script src="{% static 'assessment_app/js/employee_section.js' %}"> </script>
<script>
$(document).ready(function() {
   var table =  $('.dataTable').DataTable({
        stripeClasses: [],
        scrollY:        '45vh',
        scrollCollapse: true
   });
  });


$( document ).ready(function() {
  $(".li-home-active").removeClass( "active" );
   $(".li-admin-active").addClass( "active" );
   $("#dashboard").addClass( "show" );
});

$(document).ready(function() {
    // show when page load
   if ('{{msg}}'.includes('added') || '{{msg}}'.includes('updated') || '{{msg}}'.includes('rejected')) {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
     }
     else if ('{{msg}}'.includes('exist') || '{{msg}}'.includes('fail')) {
     toastr.error('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px");
     }
      else {
     //
     }
});




$(document).ready(function() {
   var table =  $('#deleteRequestTable').DataTable({
        stripeClasses: [],
        columnDefs: [
            { width: 80, targets: 13 },
        ],
   });
  });

$(".approve_all").click(function() {
  var x=window.confirm("Are you sure, you want to approve all the sign-up request.");
    if (x){
        var url = $(this).attr('data-url');
        window.location.href = url;
        }
    else{
        return false;
    }
});
$(".approve").click(function() {
  var x=window.confirm("Are you sure, you want to approve the Sign-up Request? Post this approval, the user can sign-in with their credentials.");
    if (x){
        var url = $(this).attr('data-url');
        window.location.href = url;
        }
    else{
        return false;
    }
});
$(".reject").click(function() {
  var x=window.confirm("Are you sure, you want to reject this sign-up request?");
    if (x){
        var url = $(this).attr('data-url');
        window.location.href = url;
        }
    else{
        return false;
    }
});
</script>
{% endblock %}