{% load static %}
{% load widget_tweaks %}
{% load mathfilters %}
{% with number=0 %}
{% load app_filters %}
{% for els in els_list %}

    <tr>
        <td style="border:1px solid #000000;" data-toggle="collapse" data-target="#tr_{{ els.id_x }}"><img src="{% static 'assessment_app/images/global/details_open.png' %}" alt="User Image" /></td>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{els.four_P_category__description}}</td>
        <td style="border:1px solid #000000;"><strong>{{els.category_name}}</strong></td>
        <td style="border:1px solid #000000;"><input type="text" name="description_{{ els.id_x }}" value="{{els.description}}" maxlength="2000" class="form-control">
                                            <input type="hidden" name="descriptionlist" value="description_{{ els.id_x }}"></td>
        <td style="border:1px solid #000000;"><input style="width: 15rem;" type='file' id='image' name='image_{{ els.id_x }}' multiple accept="image/*" data-type='image' /></td>

        <td style="border:1px solid #000000;">
            {% if els.is_evidence %}
                {% if area %}
                    <button type="button" style="padding:5px 8px;color:white;background: #2fade7;" class="btn"
                                                onclick="location.href='{% url 'download_evidence' assessment_date els.id_x 'area' area.id %}'"><i class="fa fa-download" aria-hidden="true"></i> Download Evidence</button>
                {% else %}
                    <button type="button" style="padding:5px 8px;color:white;background: #2fade7;" class="btn"
                                                onclick="location.href='{% url 'download_evidence' assessment_date els.id_x 'els' 'abc' %}'"><i class="fa fa-download" aria-hidden="true"></i> Download Evidence</button>
                {% endif %}
            {% else %}
                Evidence Not Present
            {% endif %}
        <input type="hidden" name="imagelist" value="image_{{ els.id_x }}">
        </td>
        <td style="border:1px solid #000000;" class="rating">{% if 'score_y_n' in els %} {{els.score_y_n|floatformat:0}} {% else %} {% endif %}</td>
    </tr>
    <tr class="collapse tr_rate" id="tr_{{ els.id_x }}">
        <td colspan="8">
            <table class="table table-striped" id="" style="width:100%;text-align: center;color:black">
                <thead style="background: #4A8BC2;">
                  <tr>
                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Id</th>
                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Representation</th>
                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Yes</th>
                  <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >No</th>
                  </tr>
                </thead>
                <tbody id="elsRatingTbody">
                    {% for els_rate in els_dict|get_value_from_dict:els.id_x %}
                        <tr>
                            <td style='border:1px solid #000000;color: black;'>{{forloop.counter0|add:1}}</td>
                            <td style="border:1px solid #000000;">{{els_rate.description}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal els_rate.response True %} checked {% else %} {% endifequal %} value="{{els_rate.id}}_{{els.id_x}}_y" name="marks_{{els.id_x}}_{{ els_rate.id }}" ></td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal els_rate.response False %} checked {% else %} {% endifequal %} value="{{els_rate.id}}_{{els.id_x}}_n" name="marks_{{els.id_x}}_{{ els_rate.id }}" ></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </td>
    </tr>

{% endfor %}
{% endwith %}