{% load widget_tweaks %}
{% load static %}
<style>
  .required-field::after {
    content: " *";
    color: red;
}
</style>

<form method="post" action="{% url 'update_sold_pnl' %}" enctype='multipart/form-data' class="js-employee-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Update P/L For Sold Out Month</h4>
  </div>

  <div class="modal-body">
        {% for message in messages|slice:":1" %}
                    <div class="alert alert-success">

                        {{ message }}

                    </div>
            {% endfor %}
        <table style="text-align : Left;">
            <div class="row">
                <div class="col">
                        <div class="form-group row">
                                <label class="col-sm-2 col-form-label required-field no-wrap">P/L Date</label>&nbsp;&nbsp;&nbsp;
                                <div class="col-sm-5">
                                    <input type="date" name="id_pnl_date" style="border-color: black;" class="form-control" required="True" min="{{min_date}}" max="{{max_date}}" id="id_pnl_date">
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary" id="submitfx" type="submit">Generate P/L</button>
                                </div>
                        </div>
                </div>
            </div>

                </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
</form>
<script>

</script>