
{% load mathfilters %}
{% with number=0 %}
{% for training in training_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{training.module_name}}</a></td>
        <td style="border:1px solid #000000;">{{training.module_description}}</td>
        <td style="border:1px solid #000000;">{{training.added_on|date:'M d, Y'}}</td>
        {% ifequal admin 'True' %}
        <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if training.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="location.href='{% url 'training_update' training.id %}'">Update</button></td>
        {% endifequal %}
        <td style="border:1px solid #000000;">   <button type="button" style="padding:5px 8px;color:white;{% if portco.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="location.href='{% url 'download_training_content' id=training.id %}'"><i class="fa fa-download" aria-hidden="true"></i></button>
        </td>
    </tr>
{% endfor %}
{% endwith %}