{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<style>
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Training Module</h2>
                      <form method="get" class="form-inline" >
                          <div class="form-group">
                              <lable style="color:black">Status: </lable>&ensp;
                              <div>
                                  {% render_field myFilter.form.is_delete class="form-control" style="border-color: black;" %}
                              </div>
                          </div>&emsp;
                          <button class="btn btn-primary" type="submit">Search</button>
                      </form>
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="btn-group">
                            {% ifequal admin 'True' %}
                            <button class="btn blueButton" onclick="location.href='{% url 'training_create' %}'">
									<i class="fa fa-user-plus" aria-hidden="true"></i> Add Training Content</button>
                            {% endifequal %}
                            &nbsp;&nbsp;<input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
							</div>
                        <dl>
                            <dt class="blue"></dt>
                            <dd>Active Module</dd>
                            <dt class="red"></dt>
                            <dd>Inactive Module</dd>
                        </dl><br><br>
<!--                      <div class="table-responsive" style="display:block;height:300px;">-->
                      <table class="table table-striped dataTable" style="width:100%;text-align: center;color:black">
                        <thead style="background: #4A8BC2;">
                          <tr>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Module Name</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Description</th>
                              <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Date added</th>
                              {% ifequal admin 'True' %}
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>
                              {% endifequal %}
                              <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Download</th>
<!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Remove</th>-->
                          </tr>
                        </thead>
                        <tbody id="dataTbody">
                          {% include 'training_module/training_module_list.html' %}
                        </tbody>
                      </table>
<!--                          </div>-->
                        <br>
                    </div>

</div>


<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>

$( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-training-active").addClass( "active" );
   $("#training").addClass( "show" );
});

$(document).ready(function() {
   var table =  $('.dataTable').DataTable({
        stripeClasses: [],
        scrollY:        '45vh',
        scrollCollapse: true
   });
  });

$(document).ready(function() {
    // show when page load
   if ('{{msg}}'.includes('added') || '{{msg}}'.includes('updated') || '{{msg}}'.includes('reset')) {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
     }
     else if ('{{msg}}'.includes('exist') || '{{msg}}'.includes('fail')) {
     toastr.error('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px");
     }
      else {
     //
     }
});
</script>
{% endblock %}