{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.tab-content {
  padding:10px;
}

.inline-text {
    position: absolute;
    margin-top: -18px;
    margin-left: 20px;
    color: Black;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background: white;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Downlodad/Upload Assessment Templates</h2>

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="row">
                            <div class="col">
                                <form method="post" class="form-horizontal" id="selectionform" data-plant-url="{% url 'ajax_load_plant' %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required-field" style="max-width:20%; flex: 0 0 20%" >Portfolio Co.</label>
                                    <div class="col-sm-3">
                                        <select name="portco" class="form-control" disabled required id="id_portco">
                                        <option value="" >---------</option>
                                            {% for item in portco %}
                                                <option value="{{ item.id }}">{{ item.portco_name }}</option>
                                            {% endfor %}
                                            </select>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-auto col-form-label required-field" style="max-width:15%; flex: 0 0 15%">Plant</label>
                                    <div class="col-sm-2">
                                        <select name="plant" class="form-control" disabled required id="id_plant">
                                            {% if selection == True %}
                                                <option value="">---------</option>
                                                    {% for item in plant %}
                                                        <option value="{{ item.id }}">{{ item.plant_name }}</option>
                                                    {% endfor %}
                                            {% else %}
                                            {% endif %}
                                            </select>
                                    </div>
                                    <div class="col-sm-auto">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                  </div>
                                </form>
                                <div class="form-group row">

                                     {% ifequal aquired True %}
                                        <div class="col-sm-2 no-warp" style="max-width:20%; flex: 0 0 20%">
                                            <select name="is_area" class="form-control" required id="id_is_area">
                                                <option selected value="0">Exclude Sub-Plant</option>
                                                <option value="1">Include Sub-Plant</option>
                                            </select>
                                        </div>
                                    <div class="col-sm-3" >
                                            <button class="btn btn-primary" name="download_template" id="els_download"><i class="fa fa-download" aria-hidden="true"></i> Download Assessment Template</button>
                                    </div>

                                    {% endifequal %}
<!--                                    <div class="form-group row">-->
                                    {% ifequal aquired False %}
                                        <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%">
                                            </div>
                                    <div class="col-sm-3" >
                                            <button class="btn btn-primary" name="download_template" id="els_download"><i class="fa fa-download" aria-hidden="true"></i> Download Assessment Template</button>
                                    </div>
                                    {% endifequal %}
<!--                                        </div>-->
<!--                                    {% ifequal aquired False %}-->
<!--                                    <div class="form-group row">-->
<!--                                    <div class="col-sm-3" >-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-3">-->
<!--                                            <button class="btn btn-primary" name="download_template" id="els_download"><i class="fa fa-download" aria-hidden="true"></i> Download Assessment Template</button>-->
<!--                                    </div>-->
<!--                                    </div>-->
<!--                                    {% endifequal %}-->

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2" style="max-width:20%; flex: 0 0 20%">
                                    </div>
                                    <div class="col-sm-3">
                                            <button type="button" class="btn btn-primary" name="download_template" onclick="location.href='{% url 'bulk_upload_els' act='2' %}'" id="leadership_download"><i class="fa fa-download" aria-hidden="true"></i> Download Leadership Template</button>
                                    </div>

                                </div> <br>
                                <div style="border-top: double;">
                                <h4 class="inline-text" >Upload Template</h4><br><br>
                                <form method="post" class="form-horizontal" id="pnlform2" action="{% url 'bulk_upload' %}" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-auto col-form-label required-field">Assessment Date</label>
                                    <div class="col-sm-auto">
                                        <input type="date" required max='2000-13-13' class="form-control" id="assessment_date" name="assessment_date">
                                    </div>
                                    </div>
                                    <div class="form-group row">
                                    <label class="col-sm-auto col-form-label required-field">Upload Template</label>

                                    <div class="col-sm-auto">

                                        <input type="file"
                                           title="Upload excel file"
                                           id="upload_file"
                                           name="excel_file"
                                           accept=".xlsx"
                                           required
                                           style="border: 0.5px solid ; padding: 5px;"
                                        >
                                    </div>
<!--                                    </div>-->
<!--                                    <div class="form-group row">-->

                                    <div class="form-group row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-2" style="text-align:right;">
                                            <button class="btn btn-primary" name="upload_template" type="submit"><i class="fa fa-upload" aria-hidden="true"></i> Upload Template</button>
                                    </div>
                                </div>
                                    <br>

                                    </div>

                                </form>
                                </div>
                                <div style="border-top: double;">
                                <h4 class="inline-text">Steps To Follow <span class="material-icons">arrow_drop_down</span></h4><br><br>
                                <p id="steps" style="color: black;">
                                    1. Download the document<br><br>
                                    2. Enter the all the ratings as per the structure mentioned in the document<br><br>
                                    3. Save the file in xlsm format<br><br>
                                    4. Upload the file here and submit
                                </p>
                                </div><br><br>
                                <div style="border-top: double;">
                                <h4 class="inline-text" data-toggle="collapse" data-target="#points" >Points To Remember <span class="material-icons">arrow_drop_down</span></h4><br><br>
                                <p id="points" style="color: black;">
                                    1. Please make sure there are there is not multiple ratings for one category.<br><br>
                                    2. We recommend to not change sheets name and orders to make the updation efficient.
                                </p>
                                </div>
                                </div>
                        </div><br><br>
                    </div>
</div>

<script>
$("#id_portco").change(function () {
      var url = $("#selectionform").attr("data-plant-url");
      var portco = $(this).val();
      $.ajax({
        url: url,
        data: {
          'portco': portco
        },
        success: function (data) {
          $("#id_plant").html(data);
        }
      });

    });

$(document).ready(function() {
    if ("{{ selection }}" == "True") {
    document.getElementById('id_portco').value = "{{ portco_selected }}";
    document.getElementById('id_plant').value = "{{ plant_selected }}";
    }
});
$( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-tr-active").addClass( "active" );
   $("#ui-elements").addClass( "show" );
});

$(document).ready(function() {
    // show when page load
   if ('{{mssg}}'.includes('successfully')) {
    toastr.success('{{mssg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
    }
    else if ('{{msg}}'.includes('fail')) {
     toastr.error('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px");
     }
    });


$(document).ready(function() {
   $('#bulkUploads').DataTable({
        stripeClasses: [],
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
   });
});


$("#els_download").click(function() {
    if ("{{ aquired }}" == "True") {
   is_area_value = $('#id_is_area').val();
    if (is_area_value == '1'){
        alert('Please note that you have requested to include sub-plant in the assessment template.');
        window.location = "{% url 'bulk_upload_els' act='1' %}";
          }
    else if ( is_area_value == '0'){
    alert('Please note that you have requested to exclude sub-plant in the assessment template.');
        window.location = "{% url 'bulk_upload_els' act='0' %}";
    }
    }
    else
    {
    alert('Please note that you have requested to download ELS assessment template..');
        window.location = "{% url 'bulk_upload_els' act='0' %}";
    }
});


$('#upload_file').click(function () {
    var x=window.confirm("Are you sure, you want update the file?");
        if (x){
            return true;
        }
        else
        {
            return false;
        }

});


var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("assessment_date").setAttribute("max", today);
  </script>
{% endblock %}