{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.inline-text {
    position: absolute;
    margin-top: -18px;
    margin-left: 20px;
    color: Black;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background: white;
}

.tab-content {
  padding:10px;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--<script src="{% static 'cfo_project/js/employee_section.js' %}"> </script>-->
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Edit Historical Upload </h2>
                        <div class="col-sm-1" style="float:right">
                                <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="row">
                            <div class="col">
                                <form method="post" class="form-horizontal" id="historicalMtm" action="{% url 'edit_historical_upload' form_bulk.id %}" data-fund-url="{% url 'ajax_load_fund' %}" data-security-url="{% url 'ajax_load_security' %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                    <div style="border-top: double;">
                                        <h4 class="inline-text">Master Data</h4><br><br>
                                        <div class="form-group row">
                                            <label class="col-sm-1 col-form-label required-field">{{ form.client.label }}</label>
                                            <div class="col-sm-2">
                                           <fieldset disabled="disabled">
                                            {% render_field form.client class="form-control" style="border-color: black;" %}
                                           </fieldset>
                                            </div>
                                             <label class="col-sm-1 col-form-label required-field">{{ form.fund.label }}</label>
                                            <div class="col-sm-2">
                                            <fieldset disabled="disabled">
                                                {% render_field form.fund class="form-control" style="border-color: black;" %}
                                            </fieldset>
                                            </div>
        <!--                                  </div>-->
        <!--                                <div class="form-group row">-->
                                            <label class="col-sm-1 col-form-label required-field">{{ form.security.label }}</label>
                                            <div class="col-sm-2">
                                                <fieldset disabled="disabled">
                                                {% render_field form.security class="form-control" style="border-color: black;" %}
                                                </fieldset>
                                            </div>
        <!--                                  </div>-->
        <!--                                <div class="form-group row">-->
<!--                                            <label class="col-sm-1 col-form-label required-field">{{ form.security.label }}</label>-->
<!--                                            <div class="col-sm-2">-->
<!--                                                {% render_field form.security class="form-control" style="border-color: black;" %}-->
<!--                                            </div>-->
<!--                                            <div class="col-sm-1">-->
<!--                                                    <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />-->
<!--                                            </div>-->
                                          </div>
                                        <div class="form-group row">
                                            <label class="col-sm-1 col-form-label required-field">Local Currency</label>
                                            <div class="col-sm-2">
                                                <fieldset disabled="disabled">
                                            {% render_field form.currency class="form-control" style="border-color: black;" %}
                                                </fieldset>
                                            </div>
                                            <label class="col-sm-1 col-form-label required-field">Lot</label>
                                            <div class="col-sm-2">
                                                <fieldset disabled="disabled">
                                                    <input type="number" name="lot" readonly value="{{form_bulk.Lot}}" style="border-color: black;" class="form-control clear-field" required="" id="id_lot">
                                                </fieldset>
                                            </div>
                                          </div>
                                    </div>
                                    <div style="border-top: double;">
                                        <h4 class="inline-text">Purchase Data</h4><br><br>

                                        <div class="form-group row">
                                            <label class="col-sm-1 col-form-label required-field">Txn Date</label>
                                            <div class="col-sm-2">
                                                    <input type="date" name="transaction_date" value="{{form_bulk.PurchaseDate}}" style="border-color: black;" max="{{form_bulk.MTMDate}}" class="form-control" required="" id="id_transaction_date">
                                            </div>
        <!--                                  </div>-->
        <!--                                <div class="form-group row">-->
                                            <label class="col-sm-1 col-form-label required-field">Quantity</label>
                                            <div class="col-sm-2">
                                                <input type="number" name="pr_quantity" min="{{min_quantity}}" step="1e-10" value="{{form_bulk.PurchaseQuantity}}" style="border-color: black;" class="form-control" required="" id="id_pr_quantity">
                                                <p style="color: red;margin-top: -10px;" id="limit"><br>Min: {{min_quantity}}</p>
                                            </div>

                                            <label class="col-sm-1 col-form-label required-field">Price</label>
                                            <div class="col-sm-2">
                                                    <input type="number" name="pr_price" value="{{form_bulk.PurchasePrice}}" step="1e-10" style="border-color: black;" min="1" class="form-control" required="" id="id_pr_price">
                                            </div>

                                          </div>
                                        <div class="form-group row">
                                            <label class="col-sm-1 col-form-label required-field">Fx Rate</label>
                                            <div class="col-sm-2">
                                                    <input type="number" name="pr_fxrate" value="{{form_bulk.PurchaseFx}}" step="1e-10" style="border-color: black;" max="99.9999999999" min="0" class="form-control" required="" id="id_pr_fxrate">
                                            </div>
        <!--                                  </div>-->
        <!--                                <div class="form-group row">-->
                                          </div>
                                    </div>
                                    <div style="border-top: double;">
                                        <h4 class="inline-text">Market Data</h4><br><br>

                                        <div class="form-group row">
                                            <label class="col-sm-1 col-form-label required-field">MTM Date</label>
                                            <div class="col-sm-2">
                                                <fieldset disabled="disabled">
                                                    <input type="date" name="transaction_date" value="{{form_bulk.MTMDate}}" style="border-color: black;" class="form-control" required="" id="id_mtm_date">
                                                </fieldset>
                                            </div>
        <!--                                  </div>-->
        <!--                                <div class="form-group row">-->

                                            <label class="col-sm-1 col-form-label required-field">MTM Price</label>
                                            <div class="col-sm-2">
                                                <input type="number" name="mtm_price" value="{{form_bulk.MTMPrice}}" step="1e-10" style="border-color: black;" min="1" class="form-control" required="" id="id_mtm_price">
                                            </div>
                                            <label class="col-sm-1 col-form-label required-field">MTM Fx Rate</label>
                                            <div class="col-sm-2">
                                                    <input type="number" name="mtm_fxrate" value="{{form_bulk.MTMFx}}" step="1e-10" style="border-color: black;" max="99.9999999999" min="0" class="form-control" required="" id="id_mtm_fxrate">
                                            </div>

                                          </div>
                                    </div>
                                    <div style="border-top: double;">
                                        <h4 class="inline-text">P/L Values</h4><br><br>

                                        <div class="form-group row">
                                            <label class="col-sm-1 col-form-label required-field">URG LC</label>
                                            <div class="col-sm-2">
                                                    <input type="number" name="urg_lc" value="{{form_bulk.URGLC}}" step="1e-10" style="border-color: black;" class="form-control" required id="id_urg_lc">
                                            </div>
        <!--                                  </div>-->
        <!--                                <div class="form-group row">-->

                                            <label class="col-sm-1 col-form-label required-field">URG USD</label>
                                            <div class="col-sm-2">
                                                    <input type="number" name="urg_usd" value="{{form_bulk.URGUSD}}" step="1e-10" style="border-color: black;" class="form-control" required id="id_urg_usd">
                                            </div>
                                            <label class="col-sm-1 col-form-label required-field">Fx USD</label>
                                            <div class="col-sm-2">
                                                    <input type="number" name="fx_usd" value="{{form_bulk.FXUSD}}" step="1e-10" style="border-color: black;" class="form-control" required id="id_fx_usd">
                                            </div>

                                          </div>
                                        <div class="form-group row">
                                            <label class="col-sm-1 col-form-label required-field">Cross USD</label>
                                            <div class="col-sm-2">
                                                    <input type="number" name="cross_usd" value="{{form_bulk.CROSSUSD}}" step="1e-10" style="border-color: black;" class="form-control" required id="id_cross_usd">
                                            </div>
                                          </div>
                                    </div>
                                <div class="row">
                                    <div class="col">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </div>
                        </form>
                        <br>

                            </div>
                        </div>


</div>
<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>




$( document ).ready(function() {
   $(".li-tr-active").addClass( "active" );
   $("#ui-elements").addClass( "show" );
});

$(document).ready(function() {
    // show when page load
   if ('{{mssg}}'.includes('added')) {
    toastr.success('{{mssg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
    }
});



function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}
  </script>
{% endblock %}