{% load widget_tweaks %}
{% load mathfilters %}
{% with number=0 %}
{% for cp in bulk_uploads %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{cp.Security}}</td>
        <td style="border:1px solid #000000;">{{cp.Lot}}</td>
        <td style="border:1px solid #000000;">{{cp.LocalCurrency}}</td>
        <td style="border:1px solid #000000;">{{cp.PurchaseDate}}</td>
        <td style="border:1px solid #000000;">{{cp.PurchaseQuantity}}</td>
        <td style="border:1px solid #000000;">{{cp.PurchasePrice}}</td>
        <td style="border:1px solid #000000;">{{cp.PurchaseFx|floatformat:8}}</td>
        <td style="border:1px solid #000000;">{{cp.MTMDate}}</td>
        <td style="border:1px solid #000000;">{{cp.MTMPrice}}</td>
        <td style="border:1px solid #000000;">{{cp.MTMFx|floatformat:8}}</td>
        <td style="border:1px solid #000000;">{{cp.URGLC|floatformat:2}}</td>
        <td style="border:1px solid #000000;">{{cp.URGUSD|floatformat:2}}</td>
        <td style="border:1px solid #000000;">{{cp.FXUSD|floatformat:2}}</td>
        <td style="border:1px solid #000000;">{{ cp.CROSSUSD|floatformat:2 }}</td>
        <td style="border:1px solid #000000;">
            {% if editable == True %}
                <button type="button" style="padding:5px 8px;color:white;{% if client.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="location.href='{% url 'edit_historical_upload' cp.id %}'">Update</button>
            {% else %}
                <i class="fa fa-ban" aria-hidden="true" title="Bulk Uploaded"></i>
            {% endif%}
        </td>

    </tr>

{% endfor %}
</form>
{% endwith %}