<!DOCTYPE html>
{% load static %}
{% load mathfilters %}

<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>One Rock Assessment Application</title>

  <!-- GOOGLE FONTS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <!-- PLUGINS CSS STYLE -->
  <link href="{% static 'assessment_app/plugins/toaster/toastr.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/nprogress/nprogress.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/flag-icons/css/flag-icon.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'assessment_app/plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/ladda/ladda.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/main.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/CSS/common/common.css' %}" rel="stylesheet" />
  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="{% static 'assessment_app/sleek.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">

      <!--  select2 script-->
<!--   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />-->
<!--    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />-->

</head>


  <body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">

    <div class="mobile-sticky-body-overlay"></div>

    <div class="wrapper">
      
              <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->
        {% if user.is_superuser == True %}
        <aside class="left-sidebar bg-sidebar" style="background:#808080">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand" style="background:#70001E">
              <a href="{% url 'home' %}">
                <span class="brand-name"><h3>One Rock Capital</h3></span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-scrollbar" style="background:#808080">

              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">
                <li  class="has-sub active li-home-active">
                    <a class="sidenav-item-link" id="home" href="{% url 'home' %}">
                      <i class="fa fa-home" aria-hidden="true"></i>
                      <span class="nav-text" style="color: white;">Portco-Plant Selection</span>
                    </a>
                </li>
                  <li  class="has-sub li-tr-active" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements"
                      aria-expanded="false" aria-controls="ui-elements">
                      <i class="fa fa-bar-chart" aria-hidden="true"></i>
                      <span class="nav-text" style="color: white;">Assessment Section</span> <span class="material-icons">arrow_drop_down</span>
                    </a>
                    <ul  class="collapse"  id="ui-elements" data-parent="#sidebar-menu">
                      <div class="sub-menu" style="background:#808080">
                            <li  class="active" >
                              <a class="sidenav-item-link" id="tr1" href="{% url 'els_assessment_xyz' act='0' assessment_date='abc' area='abc' %}">
                                <span class="nav-text">Lean Six Sigma Assessment</span>

                              </a>
                            </li>

                          {% if is_acquired %}
                          <li  class="active" >
                              <a class="sidenav-item-link" href="{% url 'area_list' %}">
                                <span class="nav-text">Sub-Plant Assessment</span>

                              </a>
                            </li>
                          {% endif %}
                          <li  class="active" >
                              <a class="sidenav-item-link" id="tr3" href="{% url 'lship_assessment_xyz' act='0' assessment_date='abc' %}">
                                <span class="nav-text">Leadership Assessment</span>

                              </a>
                            </li>
                          <li  class="active" >
                              <a class="sidenav-item-link" href="{% url 'bulk_upload' %}">
                                <span class="nav-text">Download/Upload Excel</span>
                              </a>
                            </li>
                      </div>
                    </ul>
                  </li>
                  <li  class="has-sub li-tr-active-viz" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements_viz"
                      aria-expanded="false" aria-controls="ui-elements_viz">
                      <i class="fa fa-line-chart" aria-hidden="true"></i>
                      <span class="nav-text" style="color: white;">Analytics</span> <span class="material-icons">arrow_drop_down</span>
                    </a>
                    <ul  class="collapse"  id="ui-elements_viz" data-parent="#sidebar-menu">
                      <div class="sub-menu" style="background:#808080">
                            <li  class="active" >
                              <a class="sidenav-item-link" id="viz1" href="{% url 'els_charts'%}">
                                <span class="nav-text">Lean Six Sigma Visualization</span>
                              </a>
                            </li>
                          {% if is_acquired %}
                            <li  class="active" >
                              <a class="sidenav-item-link" id="viz3" href="{% url 'baseline_charts'%}">
                                <span class="nav-text">Baseline Tool</span>

                              </a>
                            </li>
                          {% endif %}
                          <li  class="active" >
                              <a class="sidenav-item-link" id="viz2" href="{% url 'lship_charts'%}">
                                <span class="nav-text">Leadership Visualization</span>

                              </a>
                            </li>
                      </div>
                    </ul>
                  </li>
                  <li  class="has-sub li-training-active">
                    <a class="sidenav-item-link" id="training" href="{% url 'training_content_list' %}">
                      <i class="fa fa-book" aria-hidden="true"></i>
                      <span class="nav-text" style="color: white;">Training Module</span>
                    </a>
                </li>
                  <li  class="has-sub li-admin-active" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
                      aria-expanded="false" aria-controls="dashboard">
                      <i class="fa fa-user-circle" aria-hidden="true"></i>
                      <span class="nav-text" style="color: white;">Admin</span> <span class="material-icons">arrow_drop_down</span>
                    </a>
<!--                      Below Ul tag is to be 'show'-->
                    <ul  class="collapse" id="dashboard" data-parent="#sidebar-menu">
                      <div class="sub-menu" style="background:#808080">
                            <li  class="active" >
                              <a class="sidenav-item-link" id="admin1" href="{% url 'employee_list' %}">
                                <span class="nav-text">Employee Details</span>

                              </a>
                            </li>

                          <li  class="active" >
                              <a class="sidenav-item-link" id="admin2" href="{% url 'portco_list' %}">
                                <span class="nav-text">Portfolio Company Details</span>

                              </a>
                            </li>
                          <li  class="active" >
                              <a class="sidenav-item-link" id="admin3" href="{% url 'plant_list' %}">
                                <span class="nav-text">Plant Details</span>

                              </a>
                            </li>
                          <li  class="active" >
                              <a class="sidenav-item-link" id="admin5" href="{% url 'els_list' %}">
                                <span class="nav-text">Lean Six Sigma Categories</span>
                              </a>
                            </li>
                          <li  class="has-sub" >
                          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#authentication"
                            aria-expanded="false" aria-controls="authentication">
                            <span class="nav-text" style="color: white;">Leadership Details</span> <span class="material-icons">arrow_drop_down</span>
                          </a>
                          <ul  class="collapse"  id="authentication">
                            <div class="sub-menu" style="background:#808080">

                              <li >
                                <a href="{% url 'lship_list' %}" style="color: white;">Leadership Master</a>
                              </li>

                              <li >
                                <a href="{% url 'lship_list_category' %}" style="color: white;">Leadership Category update</a>
                              </li>
                                <li >
                                <a href="{% url 'lship_list_level' %}" style="color: white;">Leadership Level update</a>
                              </li>

                            </div>
                          </ul>
                        </li>
<!--                          <li  class="active" >-->
<!--                              <a class="sidenav-item-link" id="admin6" href="{% url 'lship_list' %}">-->
<!--                                <span class="nav-text">Leadership Master</span>-->

<!--                              </a>-->
<!--                            </li>-->

<!--                          <li  class="active" >-->
<!--                              <a class="sidenav-item-link" id="admin7" href="{% url 'lship_list_category' %}">-->
<!--                                <span class="nav-text">Leadership Category update</span>-->

<!--                              </a>-->
<!--                            </li>-->

<!--                          <li  class="active" >-->
<!--                              <a class="sidenav-item-link" id="admin8" href="{% url 'lship_list_level' %}">-->
<!--                                <span class="nav-text">Leadership Level update</span>-->

<!--                              </a>-->
<!--                            </li>-->
                      </div>
                    </ul>
                  </li>
              </ul>

            </div>

            <hr class="separator" />

            <div class="sidebar-footer">



            </div>
          </div>
        </aside>
        {% else %}
        <aside class="left-sidebar bg-sidebar" style="background:#808080">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand" style="background:#70001E">
              <a href="{% url 'home' %}">
                  <span class="brand-name"><h3>One Rock Capital</h3></span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-scrollbar" style="background:#808080">

              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">
                <li  class="has-sub active li-home-active" >
                    <a class="sidenav-item-link" href="{% url 'home' %}">
                      <i class="fa fa-home" aria-hidden="true"></i>
                      <span class="nav-text" style="color: white;">Portco-Plant Selection</span>
                    </a>
                </li>
                  <li  class="has-sub li-tr-active" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements"
                      aria-expanded="false" aria-controls="dashboard">
                      <i class="fa fa-bar-chart" aria-hidden="true"></i>
                      <span class="nav-text" style="color: white;">Assessment Section</span>
                        <span class="material-icons">arrow_drop_down</span>
                    </a>
                    <ul  class="collapse"  id="ui-elements"
                      data-parent="#sidebar-menu">
                      <div class="sub-menu" style="background:#808080">




                         <li  class="active" >
                              <a class="sidenav-item-link" href="{% url 'els_assessment_xyz' act='0' assessment_date='abc' area='abc' %}">
                                <span class="nav-text">Lean Six Sigma Assessment</span>

                              </a>
                            </li>
                          {% if is_acquired %}
                          <li  class="active" >
                              <a class="sidenav-item-link" href="{% url 'area_list' %}">
                                <span class="nav-text">Sub-Plant Assessment</span>

                              </a>
                            </li>
                          {% endif %}
                          <li  class="active" >
                              <a class="sidenav-item-link" href="{% url 'lship_assessment_xyz' act='0' assessment_date='abc' %}">
                                <span class="nav-text">Leadership Assessment</span>

                              </a>
                            </li>
                          <li  class="active" >
                              <a class="sidenav-item-link" href="{% url 'bulk_upload' %}">
                                <span class="nav-text">Download/Upload Excel</span>
                              </a>
                            </li>
                      </div>
                    </ul>
                  </li>
                  <li  class="has-sub li-tr-active-viz" >
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements_viz"
                      aria-expanded="false" aria-controls="ui-elements_viz">
                      <i class="fa fa-line-chart" aria-hidden="true"></i>
                      <span class="nav-text" style="color: white;">Analytics</span> <span class="material-icons">arrow_drop_down</span>
                    </a>
                    <ul  class="collapse"  id="ui-elements_viz" data-parent="#sidebar-menu">
                      <div class="sub-menu" style="background:#808080">
                            <li  class="active" >
                              <a class="sidenav-item-link" id="viz1" href="{% url 'els_charts'%}">
                                <span class="nav-text">Lean Six Sigma Visualization</span>
                              </a>
                            </li>
                          {% if is_acquired %}
                          <li  class="active" >
                              <a class="sidenav-item-link" id="viz3" href="{% url 'baseline_charts'%}">
                                <span class="nav-text">Baseline Tool</span>

                              </a>
                            </li>
                          {% endif %}
                          <li  class="active" >
                              <a class="sidenav-item-link" id="viz2" href="{% url 'lship_charts'%}">
                                <span class="nav-text">Leadership Visualization</span>

                              </a>
                            </li>
                      </div>
                    </ul>
                  </li>
                  <li  class="has-sub li-training-active">
                    <a class="sidenav-item-link" id="training" href="{% url 'training_content_list' %}">
                      <i class="fa fa-book" aria-hidden="true"></i>
                      <span class="nav-text" style="color: white;">Training Module</span>
                    </a>
                </li>

              </ul>

            </div>

            <hr class="separator" />

            <div class="sidebar-footer">



            </div>
          </div>
        </aside>
        {% endif %}

      

      <div class="page-wrapper">
                  <!-- Header -->
          <header class="main-header " id="header">
            <nav class="navbar navbar-static-top navbar-expand-lg">
              <!-- Sidebar toggle button -->
<!--              <button id="sidebar-toggler" class="sidebar-toggle">-->
<!--                  <span class="material-icons">menu_open</span>-->
<!--                <span class="sr-only">Toggle navigation</span>-->
<!--              </button>-->
              <!-- search form -->
              <div class="search-form d-none d-lg-inline-block">
                  <img src="{% static 'assessment_app/images/global/logo.png' %}" class="user-image" alt="User Image" style="height: 3rem;" /><br>
              </div>

              <div class="navbar-right ">
                <ul class="nav navbar-nav">
                  <!-- Github Link Button -->


                  <!-- User Account -->
                  <li class="dropdown user-menu">
                    <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <span class="d-none d-lg-inline-block" style="color:black;"><h4 style="margin-right:-1rem;">Welcome {{user.first_name|add:" "|add:user.last_name}}</h4></span>&ensp;
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                          <a href="{% url 'change_password' %}"> <span class="material-icons">admin_panel_settings</span><p style="float: right;text-align: center;margin-right: 2.6rem;margin-top: 2px;"> Change Password </p></a>
                      </li>

                      <li class="dropdown-footer">
                        <a href="{% url 'logout' %}"><span class="material-icons">login</span><p style="float: right;text-align: center;margin-right: 7rem;margin-top: 2px;">Log Out </p></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>


          </header>


        <div class="content-wrapper">
          <div class="content" style="margin-bottom: -35px;margin-top: -15px;">
                  <!-- Top Statistics -->
            {% block content %}

                {% endblock %}
          


        </div>

          <footer class="footer mt-auto" style="text-align: center;">
            <div class=" bg-white" style="padding-top:0.6rem !important;padding-bottom:0.6rem !important;">
              <p>
               <span id="copy-year">2020</span> © One Rock Capital Partners

              </p>
            </div>
            <script>
                var d = new Date();
                var year = d.getFullYear();
                document.getElementById("copy-year").innerHTML = year;
            </script>
          </footer>

      </div>
    </div>

<div class="modal" tabindex="-1" id="mtmmodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" ></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM" defer></script>
<script src="{% static 'assessment_app/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/toaster/toastr.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/slimscrollbar/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/charts/Chart.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/ladda/spin.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/ladda/ladda.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/jquery-mask-input/jquery.mask.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/jvectormap/jquery-jvectormap-world-mill.js' %}"></script>
<script src="{% static 'assessment_app/plugins/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'assessment_app/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'assessment_app/plugins/jekyll-search.min.js' %}"></script>
<script src="{% static 'assessment_app/js/sleek.js' %}"></script>
<script src="{% static 'assessment_app/js/chart.js' %}"></script>
<script src="{% static 'assessment_app/js/date-range.js' %}"></script>
<script src="{% static 'assessment_app/js/map.js' %}"></script>
<script src="{% static 'assessment_app/js/custom.js' %}"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<!--<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>-->
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<!--<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>-->


<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>

</body>
</html>
