{% load widget_tweaks %}
{% load static %}


<option value="">---------</option>
    {% for item in els_doa %}
        <option value="{{ item.date_of_assessment_started|date:'Y-m-d' }}">{{ item.date_of_assessment_started }}</option>
    {% endfor %}

