{% load mathfilters %}
{% load app_filters %}
{% with number=0 %}
{% for d in data %}

    <tr >

        {% for name in column_names %}

        <td style="border:1px solid #000000;">{{ d|get_value_from_dict:name }}</td>

        {% endfor %}

    </tr>
{% endfor %}
{% endwith %}


