{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.tab-content {
  padding:10px;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    width: auto
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'assessment_app/js/employee_section.js' %}"> </script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" >
                    <div class="card-header justify-content-between" >
                      <h3 style="font-size: 1.8rem;">Lean Six Sigma Assessment Visualization</h3>

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="row">
                            <div class="col">
                                <form method="post" class="form-horizontal" id="selectionform" action="{% url 'els_charts' %}" data-els-doa-url="{% url 'ajax_load_els_doa' %}" data-plant-url="{% url 'ajax_load_plant' %}"  enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required-field" style="max-width:16%; flex: 0 0 16%">Portfolio Co.</label>
                                    <div class="col-sm-2">
                                        <select name="portco" class="form-control" required id="id_portco">
                                        <option value="" >---------</option>
                                            {% for item in portco %}
                                                <option value="{{ item.id }}">{{ item.portco_name }}</option>
                                            {% endfor %}
                                            </select>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-2 col-form-label required-field" style="max-width:14%; flex: 0 0 14%">Plant</label>
                                    <div class="col-sm-2">
                                        <select name="plant" class="form-control" required id="id_plant">
                                            {% if selection == True %}
                                                <option value="">---------</option>
                                                    {% for item in plant %}
                                                        <option value="{{ item.id }}">{{ item.plant_name }}</option>
                                                    {% endfor %}
                                            {% else %}
                                            {% endif %}
                                            </select>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-1" style="text-align:right;">-->
<!--                                            <button class="btn btn-primary" type="submit">Select</button>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-1">-->
<!--                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />-->
<!--                                    </div>-->
                                  </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required-field" style="max-width:16%; flex: 0 0 16%">Base Date</label>
                                    <div class="col-sm-2">
                                        <select name="doa1" class="form-control" required id="id_doa1">
                                            {% if selection == True %}
                                                <option value="">---------</option>
                                                    {% for item in els_doa %}
                                                        <option value="{{ item.date_of_assessment|date:'Y-m-d' }}">{{ item.date_of_assessment }}</option>
                                                    {% endfor %}
                                            {% else %}
                                            {% endif %}
                                            </select>
                                    </div>

                                    <label class="col-sm-2 col-form-label required-field" style="max-width:14%; flex: 0 0 14%">Final Date</label>
                                    <div class="col-sm-2">
                                        <select name="doa2" class="form-control" required id="id_doa2">
                                            {% if selection == True %}
                                                <option value="">---------</option>
                                                    {% for item in els_doa %}
                                                        <option value="{{ item.date_of_assessment|date:'Y-m-d' }}">{{ item.date_of_assessment }}</option>
                                                    {% endfor %}
                                            {% else %}
                                            {% endif %}
                                            </select>
                                    </div>
                                    <div class="col-sm-auto" style="text-align:right;">
                                            <button class="btn btn-primary" type="submit">Select</button>
                                    </div>
                                    <div class="col-sm-auto">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                </div>

<!--                                  </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-8">-->
<!--                                      </div>-->

<!--                                    <div class="col-sm-2" style="text-align:right;">-->
<!--                                            <button class="btn btn-primary" type="submit">Select</button>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-2">-->
<!--                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />-->
<!--                                    </div>-->
<!--                                    </div>-->


                                </form>
<!--                          </div>-->

                                {% if  plot_div1 %}
                                <div style="border-top: 2px black; border-bottom: 2px black;border-style: groove;padding: 5px; ">
                                <div  style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;margin-left: 1px;margin-right: 1px;">
                                            <div class="col">
                                                    <h4 style="text-align:center;color: black;">{{ doa1_s }}</h4>
                                            </div>
                                </div>
                                            <div  style="padding: 5px;margin-left: auto;margin-right: auto; ">
                                                {% autoescape off %}
                                                {{ plot_div1 }}
                                                {% endautoescape %}
                                            </div>

                                </div>
                                <br>
                                <div style="border-top: 2px black; border-bottom: 2px black;border-style: groove;padding: 5px; ">
                                <div class="row" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;margin-left: 1px;margin-right: 1px;">
                                            <div class="col">
                                                    <h4 style="text-align:center;color: black;">{{ doa2_s }}</h4>
                                            </div>
                                </div>
                                            <div >
                                                {% autoescape off %}
                                                 {{ plot_div2 }}
                                                {% endautoescape %}
                                            </div>
                        <br>
                                </div>
                                {% endif %}
                        </div>

                    </div>
</div>

<script>
$("#id_portco").change(function () {
      var url = $("#selectionform").attr("data-plant-url");
      var portco = $(this).val();
      $.ajax({
        url: url,
        data: {
          'portco': portco
        },
        success: function (data) {
          $("#id_plant").html(data);
        }
      });

    });

$("#id_plant").change(function () {
      var url = $("#selectionform").attr("data-els-doa-url");
      var plant = $(this).val();
      $.ajax({
        url: url,
        data: {
          'plant' : plant
        },
        success: function (data) {
          $("#id_doa1").html(data);
          $("#id_doa2").html(data);
          $("#id_doa2").prop("selectedIndex", 1);
        }
      });

    });


$(document).ready(function() {
    if ("{{ selection }}" == "True") {
    document.getElementById('id_portco').value = "{{ portco_selected }}";
    document.getElementById('id_plant').value = "{{ plant_selected }}";
    document.getElementById('id_doa1').value = "{{ doa1_selected }}";
    document.getElementById('id_doa2').value = "{{ doa2_selected }}";
    if ('{{msg}}' != '') {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
    }
    }
});

$(document).ready(function() {
   var table =  $('.dataTable').DataTable({
        stripeClasses: [],
        scrollY:        '45vh',
        scrollCollapse: true
   });
  });

 $( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-tr-active-viz").addClass( "active" );
   $("#ui-elements_viz").addClass( "show" );
});
  </script>
{% endblock %}