<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>One Rock Assessment Application</title>

   <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet"/>
  <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

  <!-- PLUGINS CSS STYLE -->
  <link href="{% static 'assessment_app/css/registration/log_in.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/toaster/toastr.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/nprogress/nprogress.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/flag-icons/css/flag-icon.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'assessment_app/plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/ladda/ladda.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" />

  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="{% static 'assessment_app/sleek.css' %}" />
      <style>
/* Style all input fields */

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
</style>



  <!-- FAVICON -->
<!--  <link href="{% static 'cfo_project/img/favicon.png' %}" rel="shortcut icon" />-->

  <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="{% static 'assessment_app/plugins/nprogress/nprogress.js' %}"></script>
</head>

</head>
  <body class="bg-light-gray" id="body">
      <div class="container d-flex flex-column justify-content-between vh-100">
      <div class="row justify-content-center mt-5">
        <div class="col-xl-5 col-lg-6 col-md-10">
          <div class="card">
            <div class="card-header">
              <div class="">
                  <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30" height="33"
                    viewBox="0 0 30 33">
                    <g fill="none" fill-rule="evenodd">
<!--                      <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />-->
<!--                      <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />-->
<!--                       <img src="{% static 'cfo_project/images/1.png' %}" class="user-image" alt="User Image" />-->
                    </g>
                  </svg>
                    <img src="{% static 'assessment_app/images/global/logo.png' %}" class="user-image" alt="User Image"/><br>
<!--                  <span class="display-4">CFO Activities</span>-->
              </div>
            </div>
            <div class="card-body p-5">
                {% for message in messages %}

                    <div class="alert alert-success">

                        {{ message }}

                    </div>
            {% endfor %}
              <h4 class="text-dark mb-5" style="text-align: center;">Change Password</h4>
              <form action="{% url 'change_password' %}" method="post">
<!--                  {% csrf_token %}-->
<!--                    {{ form }}<br>-->
<!--                    <button type="submit">Save changes</button>-->
                  {% csrf_token %}
                <div class="row">
                    <div class="form-group col-md-12 ">
<!--                      {% render_field form.new_password2 class="form-control input-lg" placeholder="Repeat New Password"%}-->
<!--                      {% for error in form.errors %}-->
<!--                      <p class="help-block">{{ error }}</p>-->
<!--                      {% endfor %}-->
                    <input type="text" class="form-control input-lg" id="username" name="username" readonly placeholder="Username" value="{{user.username}}" pattern="^[A-Z][A-Z]{3}[0-9]{5}$" required>
                  </div>
                  <div class="form-group col-md-12 mb-4">
                      {% render_field form.old_password class="form-control input-lg" autocomplete="off" placeholder="Old Password"%}
<!--                      {% for error in form.errors %}-->
<!--                      <p class="help-block">{{ error }}</p>-->
<!--                      {% endfor %}-->
<!--                    <input type="email" class="form-control input-lg" id="email" aria-describedby="emailHelp" placeholder="Username">-->
                  </div>
                  <div class="form-group col-md-12 ">
                      {% render_field form.new_password1 class="form-control input-lg" id="new_password1" placeholder="New Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$" %}
<!--                      {% for error in form.errors %}-->
<!--                      <p class="help-block">{{ error }}</p>-->
<!--                      {% endfor %}-->
<!--                    <input type="password" class="form-control input-lg" id="password" placeholder="Password">-->
                  </div>
                    <div class="form-group col-md-12 ">
                      {% render_field form.new_password2 class="form-control input-lg" placeholder="Repeat New Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$" %}
<!--                      {% for error in form.errors %}-->
<!--                      <p class="help-block">{{ error }}</p>-->
<!--                      {% endfor %}-->
<!--                    <input type="password" class="form-control input-lg" id="password" placeholder="Password">-->
                  </div>
                  <div class="col-md-12">
<!--                    <div class="d-flex my-2 justify-content-between">-->
<!--                      <div class="d-inline-block mr-3">-->
<!--                        <label class="control control-checkbox">Remember me-->
<!--                          <input type="checkbox" />-->
<!--                          <div class="control-indicator"></div>-->
<!--                        </label>-->

<!--                      </div>-->
<!--                      <p><a class="text-blue" href="#">Forgot Your Password?</a></p>-->
<!--                    </div>-->
                      <!--btn-primary-->
                    <button type="submit" class="btn btn-lg log-in-btn btn-block mb-4">Change Password</button>

                  </div>
                </div>
              </form>
                <div id="message">
  <h5>Password must contain the following:</h5>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    <p id="spchr" class="invalid">A <b>special character</b></p>
</div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="copyright pl-0">-->
<!--        <p class="text-center">&copy; 2018 Copyright Sleek Dashboard Bootstrap Template by-->
<!--          <a class="text-primary" href="http://www.iamabdus.com/" target="_blank">Abdus</a>.-->
<!--        </p>-->
<!--      </div>-->
    </div>
{% block javascript %}
<script>
var myInput = document.getElementById("new_password1");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var spchr = document.getElementById("spchr");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }

  // Validate special character
  var sp = /[*.!@$%^&?;]/g;
  if(myInput.value.match(sp)) {
    spchr.classList.remove("invalid");
    spchr.classList.add("valid");
  } else {
    spchr.classList.remove("valid");
    spchr.classList.add("invalid");
  }
}
</script>
  {% endblock %}
</body>
</html>