<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>One Rock Assessment Application</title>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet"/>
  <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

  <!-- PLUGINS CSS STYLE -->
  <link href="{% static 'assessment_app/css/registration/log_in.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/css/common/common.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/toaster/toastr.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/nprogress/nprogress.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/flag-icons/css/flag-icon.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'assessment_app/plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/ladda/ladda.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assessment_app/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" />

  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="{% static 'assessment_app/sleek.css' %}" />



  <!-- FAVICON -->
<!--  <link href="{% static 'assessment_app/img/favicon.png' %}" rel="shortcut icon" />-->

  <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="{% static 'assessment_app/plugins/nprogress/nprogress.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
</head>

</head>
  <body class="bg-light-gray" id="body">
          <div class="container d-flex flex-column justify-content-between vh-100">
          <div class="row justify-content-center mt-5">
            <div class="col-xl-5 col-lg-6 col-md-10">
              <div class="card">
                <div class="card-header">
                  <div class="">
                      <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30"
                        height="33" viewBox="0 0 30 33">
                        <g fill="none" fill-rule="evenodd">
<!--                          <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />-->
<!--                          <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />-->
                        </g>
                      </svg>
                      <img src="{% static 'assessment_app/images/global/logo.png' %}" class="user-image" alt="User Image" /><br>
                  </div>
                </div>
                <div class="card-body p-5">
                  <div>
                  <h3 class="text-dark mb-5 text-align-centre">Register</h3> </div>
                  <form method="post" action="{% url 'signup' %}" enctype='multipart/form-data'>
                      {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-12 mb-4">
                        <input type="text" class="form-control input-lg" id="fname" name="fname" required aria-describedby="nameHelp" placeholder="First Name">
                      </div>
                      <div class="form-group col-md-12 mb-4">
                        <input type="text" class="form-control input-lg" id="lname" name="lname" required aria-describedby="nameHelp" placeholder="Last Name">
                      </div>
                      <div class="form-group col-md-12 mb-4">
                        <input type="email" class="form-control input-lg" id="email" name="email" required aria-describedby="emailHelp" placeholder="Email ID">
                      </div>
                      <div class="form-group col-md-12 ">
                        <input type="password" class="form-control input-lg" id="password" name="password" required placeholder="Password">
                      </div>
                      <div class="form-group col-md-12 ">
                        <input type="password" class="form-control input-lg" id="cpassword" name="cpassword" required placeholder="Confirm Password">
                      </div>
                      <div class="form-group col-md-12 ">
                        {% render_field form.designation_title class="form-control input-lg" required=True placeholder="Designation" %}
                      </div>
                      <div class="form-group col-md-12 ">
                        {% render_field form.is_orc_employee class="form-control" required=True %}
                      </div>
<!--                        <div id="if-orc-employee" class="form-group col-md-12 hide">-->
<!--                            <select class="form-control" id="is_admin" name="is_admin">-->
<!--                                <option value="1">Admin User</option>-->
<!--                                <option value="0">Non-Admin User</option>-->
<!--                              </select>-->
<!--                      </div>-->
                        <button type="submit" class="btn btn-lg log-in-btn btn-block mb-4">Sign Up</button>
                        <p>Already have an account?
                          <a class="text-blue" href="{% url 'login' %}">Sign in</a>
                        </p>
                      </div>

                  </form>
                </div>
                </div>
              </div>
            </div>
          </div>

        </div>

    <script src="{% static 'assessment_app/js/registration/sign_up.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <script>
      $(document).ready(function() {
   if ('{{msg}}'.includes('approval')) {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
    }
    else if ('{{msg}}'.includes('already')) {
    toastr.error('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px");
    }
});
  </script>
</body>
</html>

