{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.tab-content {
  padding:10px;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'assessment_app/js/employee_section.js' %}"> </script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h3 style="font-size: 1.8rem;">Portfolio Selection</h3>

                    </div>
                    <div class="card-body pt-0 pb-5" style="height:60vh;">
                        <div class="row">
                            <div class="col">
                                <form method="post" class="form-horizontal" id="selectionform" action="{% url 'lship_charts' %}" data-lship-doa-url="{% url 'ajax_load_lship_doa' %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">Portfolio Co.</label>
                                    <div class="col-sm-3">
                                        <select name="portco" class="form-control" required id="id_portco">
                                        <option value="" >---------</option>
                                            {% for item in portco %}
                                                <option value="{{ item.id }}">{{ item.portco_name }}</option>
                                            {% endfor %}
                                            </select>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">Assessment Date 1</label>
                                    <div class="col-sm-3">
                                        <select name="doa1" class="form-control" required id="id_doa1">
                                            {% if selection == True %}
                                                <option value="">---------</option>
                                                    {% for item in lship_doa %}
                                                        <option value="{{ item.date_of_assessment|date:'Y-m-d' }}">{{ lship_doa.date_of_assessment }}</option>
                                                    {% endfor %}
                                            {% else %}
                                            {% endif %}
                                            </select>
                                    </div>

                                    <label class="col-sm-1 col-form-label required-field">Assessment Date 2</label>
                                    <div class="col-sm-3">
                                        <select name="doa2" class="form-control" required id="id_doa2">
                                            {% if selection == True %}
                                                <option value="">---------</option>
                                                    {% for item in lship_doa %}
                                                        <option value="{{ item.date_of_assessment|date:'Y-m-d' }}">{{ lship_doa.date_of_assessment }}</option>
                                                    {% endfor %}
                                            {% else %}
                                            {% endif %}
                                            </select>
                                    </div>
                                </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                    </div>
                                    <div class="col-sm-1" style="text-align:right;">
                                            <button class="btn btn-primary" type="submit">Select</button>
                                    </div>
                                    <div class="col-sm-1">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                  </div>
                                </form><br><br>
<!--                          </div>-->
                                <table class="table table-striped dataTable" id="summaryTable" style="width:100%;text-align: center;color:black">
                                        <thead style="background: #4A8BC2;">
                                          <tr>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Assessment Date</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Assessment Type</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Status</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>
                                          </tr>
                                        </thead>
                                        <tbody id="summaryTbody">
                                            {% include 'admin/landing_page/assessment_list.html' %}
                                        </tbody>
                                  </table>
                        <br>
                                </div>
                        </div>

                    </div>
</div>

<script>
$("#id_portco").change(function () {
      var url = $("#selectionform").attr("data-lship-doa-url");
      var portco = $(this).val();
      $.ajax({
        url: url,
        data: {
          'portco': portco
        },
        success: function (data) {
          $("#id_doa1").html(data);
          $("#id_doa2").html(data);
        }
      });

    });


$(document).ready(function() {
    if ("{{ selection }}" == "True") {
    document.getElementById('id_portco').value = "{{ portco_selected }}";
    document.getElementById('id_plant').value = "{{ plant_selected }}";
    if ('{{msg}}' != '') {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
    }
    }
});

$(document).ready(function() {
   var table =  $('.dataTable').DataTable({
        stripeClasses: [],
        scrollY:        '45vh',
        scrollCollapse: true
   });
  });
  </script>
{% endblock %}