{% load widget_tweaks %}
{% load static %}


<option value="">---------</option>
    {% for item in lship_doa %}
        <option value="{{ item.date_of_assessment|date:'Y-m-d' }}">{{ item.date_of_assessment }}</option>
    {% endfor %}

