{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<style>
    dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Plant Details</h2>
                      {% if error %}
                          <script>
                              alert("{{error}}");
                          </script>
                      {% endif %}
                      <form method="get" class="form-inline" >

                          <div class="form-group">
                              <lable style="color:black">Portco: </lable>&ensp;
                              <div>
                                  {% render_field myFilter.form.portco class="form-control" style="border-color: black;" %}
                              </div>
                          </div>&emsp;
                          <div class="form-group">
                              <lable style="color:black">Status: </lable>&ensp;
                              <div>
                                  {% render_field myFilter.form.is_delete class="form-control" style="border-color: black;" %}
                              </div>
                          </div>&emsp;
                          <button class="btn btn-primary" type="submit">Search</button>
                      </form>

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="btn-group">
								<button class="btn blueButton" onclick="location.href='{% url 'plant_create' %}'">
									<i class="fa fa-user-plus" aria-hidden="true"></i> Add Plant</button>
                                &nbsp;&nbsp;<input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
							</div><dl>
                            <dt class="blue"></dt>
                            <dd>Active Plant</dd>
                            <dt class="red"></dt>
                            <dd>Inactive Plant</dd>
                        </dl><br><br>
                      <table class="table table-striped dataTable" id="plantTable" style="width:100%;text-align: center;color:black">
                        <thead style="background: #4A8BC2;">
                          <tr>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Plant Name</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Portfolio Co.</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Country</th>
                          <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Region</th>
                          <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >State</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Primary Contact</th>
                              <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Date Added</th>
                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>
                          </tr>
                        </thead>
                        <tbody id="plantTbody">
                          {% include 'admin/plant_section/plant_list.html' %}
                        </tbody>
                      </table>
                        <br>
                    </div>

</div>


<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>


<script>

$(document).ready(function() {
if ("{{ selected_portco }}"){
   document.getElementById('id_portco').value = "{{ selected_portco }}"; }
});


$( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-admin-active").addClass( "active" );
   $("#dashboard").addClass( "show" );
});

$(document).ready(function() {
    // show when page load
   if ('{{msg}}'.includes('added') || '{{msg}}'.includes('updated') || '{{msg}}'.includes('reset')) {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
     }
     else if ('{{msg}}'.includes('exist') || '{{msg}}'.includes('fail')) {
     toastr.error('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px");
     }
      else {
     //
     }
});


$(document).ready(function() {
   var table =  $('.dataTable').DataTable({
        stripeClasses: [],
        scrollY:        '45vh',
        scrollCollapse: true
   });
  });
</script>
{% endblock %}