
{% load mathfilters %}
{% with number=0 %}
{% for plant in plant_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{plant.plant_name}}</td>
        <td style="border:1px solid #000000;">{{plant.portco}}</td>
        <td style="border:1px solid #000000;">{{plant.country}}</td>
        <td style="border:1px solid #000000;">{{plant.region}}</td>
        <td style="border:1px solid #000000;">{{plant.state}}</td>
        <td style="border:1px solid #000000;">{{plant.primary_contact}}</td>
        <td style="border:1px solid #000000;">{{plant.added_on|date:'M d, Y'}}</td>
<!--        <td style="border:1px solid #000000;">{% if plant.is_delete == True %} In Active {% else %} Active {% endif%}</td>-->
        <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if plant.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="location.href='{% url 'plant_update' plant.id %}'">Update</button></td>
    </tr>
{% endfor %}
{% endwith %}