{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.no-wrap{
    white-space: nowrap;
}
#id_employee {
    height: 10rem;
    overflow-y: scroll;
    font-size: 0.98rem;
    padding: .5rem 1.06rem;
    border-color: #e5e9f2;
    border: 1px solid #ced4da;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
display: none;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Update Plant</h2>
                      {% if error %}
                         <script>
                              alert("{{error}}");
                          </script>
                      {% endif %}

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="row">
                            <div class="col">
                                <form method="post" id="plantform" data-state-url="{% url 'ajax_load_state' %}" class="form-horizontal" action="{% url 'plant_update' form.instance.pk %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required-field">{{ form.portco.label }}</label>
                                    <div class="col-sm-3">
                                        <fieldset disabled="disabled">
                                       {% render_field form.portco class="form-control" %}
                                        </fieldset>
                                    </div>
                                       <label class="col-sm-2 col-form-label required-field no-wrap">{{ form.plant_name.label }}</label>
                                        <div class="col-sm-3">
                                            {% render_field form.plant_name class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                       <label class="col-sm-2 col-form-label required-field">Country</label>
                                        <div class="col-sm-3">
                                            {% render_field form.country class="form-control" %}
                                        </div>
                                    <label class="col-sm-2 col-form-label required-field">State</label>
                                        <div class="col-sm-3">
                                            {% render_field form.state class="form-control" %}
                                        </div>

                                  </div>
                                    <div class="form-group row">


                                    <label class="col-sm-2 col-form-label required-field">{{ form.primary_contact.label }}</label>
                                        <div class="col-sm-3">
                                            {% render_field form.primary_contact class="form-control" %}
                                        </div>

                                    <label class="col-sm-2 col-form-label required-field">Primary Contact Email</label>
                                    <div class="col-sm-3">
                                        {% render_field form.primary_contact_mail class="form-control" %}
                                    </div>

                                  </div>
                                    <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Status</label>
                                    <div class="col-sm-3">
                                        {% render_field form.is_delete class="form-control" %}
                                    </div>
                                  </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label required-field no-wrap">{{ form.description.label }}</label>
                                        <div class="col-sm-3">
                                            {% render_field form.description class="form-control" rows="6" maxlength="500" %}
                                        </div>

                                  </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                    </div>
                                    <div class="col-sm-2">
                                            <button class="btn btn-primary" type="submit" style="float: right;" onclick="return confirm('Are you sure?')">Update</button>
                                    </div>
                                    <div class="col-sm-2">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                </div>
                        </form>
                        <br>

                            </div>
                        </div>



                    </div>

</div>
<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-admin-active").addClass( "active" );
   $("#dashboard").addClass( "show" );
});

$("#id_country").change(function () {
      var url = $("#plantform").attr("data-state-url");
      var country = $(this).val();
      $.ajax({
        url: url,
        data: {
          'country': country
        },
        success: function (data) {
          $("#id_state").html(data);
        }
      });

    });

  </script>
{% endblock %}