{% load widget_tweaks %}
{% load static %}


<option value="">---------</option>
    {% for item in region_list %}
        <option value="{{ item.region }}">{{ item.region }}</option>
    {% endfor %}

