
{% load mathfilters %}
{% with number=0 %}
{% for portco in portco_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{portco.portco_name}}</a></td>
        <td style="border:1px solid #000000;">{{portco.hq_region}}</td>
        <td style="border:1px solid #000000;">{{portco.hq_country}}</td>
        <td style="border:1px solid #000000;">{{portco.hq_state}}</td>
        <td style="border:1px solid #000000;">{{portco.industry}}</td>
        <td style="border:1px solid #000000;">{% if portco.is_aquired == True %}Aquired{% elif portco.is_aquired == False %}Due-Diligence{% endif%}</td>
        <td style="border:1px solid #000000;">{{portco.primary_contact}}</td>
        <td style="border:1px solid #000000;">{{portco.added_on|date:'M d, Y'}}</td>
<!--        <td style="border:1px solid #000000;">{% if portco.is_delete == True %} In Active {% else %} Active {% endif%}</td>-->
        <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if portco.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="location.href='{% url 'portco_update' portco.id %}'">Update</button></td>
    </tr>
{% endfor %}
{% endwith %}