{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.tab-content {
  padding:10px;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'cfo_project/js/employee_section.js' %}"> </script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Download P/L Values</h2>

                    </div>
                    <div class="card-body pt-0 pb-5" style="height:60vh;">
                        <div class="row">
                            <div class="col">
                                <form method="post" class="form-horizontal" id="pnlform" action="{% url 'get_p_n_l' %}" data-fund-url="{% url 'ajax_load_fund' %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">{{ form.client.label }}</label>
                                    <div class="col-sm-3">
                                        <fieldset disabled="disabled">
                                    {% render_field form.client class="form-control" style="border-color: black;" %}
                                            </fieldset>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">{{ form.fund.label }}</label>
                                    <div class="col-sm-3">
                                    <fieldset disabled="disabled" id="fund_div">
                                        {% render_field form.fund class="form-control" style="border-color: black;" %}
                                    </fieldset>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                  </div>
                                    <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">Start Date</label>
                                    <div class="col-sm-3">
                                        <input type="month" required class="form-control" id="start_date" min="{{min_date}}" name="start_date" style="border-color: black;">
                                    </div>
                                    <label class="col-sm-1 col-form-label required-field">End Date</label>
                                    <div class="col-sm-3">
                                        <input type="date" required class="form-control"  id="end_date" min="{{end_min_date}}" name="end_date" max='2000-13-13' style="border-color: black;">
                                    </div>
                                  </div>
                                    <div class="form-group row">
                                        <div class="col-sm-1">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                    <div class="col-sm-1" style="text-align:right;">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                    </div>
                                </form>
                                </div>
                        </div>
                    </div>
</div>

<script>
    $("#id_client").change(function () {
      $("#fund_div").removeAttr("disabled");
      var url = $("#pnlform").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': clientId
        },
        success: function (data) {
          $("#id_fund").html(data);
        }
      });

    });



var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
today_month = yyyy+'-'+mm;
document.getElementById("end_date").setAttribute("max", today);
document.getElementById("start_date").setAttribute("max", today_month);

$(document).ready(function() {
   document.getElementById('id_client').value = "{{ selected_client }}"
   var url = $("#pnlform").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': "{{ selected_client }}"
        },
        success: function (data) {
          $("#id_fund").html(data);
          document.getElementById('id_fund').value = "{{ selected_fund }}"
        }
      });
});

$( document ).ready(function() {
   $(".li-tr-active").addClass( "active" );
   $("#ui-elements").addClass( "show" );
});
  </script>
{% if msg %}
     <script>
          alert("{{msg}}");
      </script>
  {% endif %}
{% endblock %}