{% load widget_tweaks %}
{% load mathfilters %}
{% load app_filters %}
{% with number=0 %}

{% for security in mtm_security_list %}
{% if security.quantity > 0 %}
    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
<!--        <td style="border:1px solid #000000;">{{security.client__client_name}}</td>-->
<!--        <td style="border:1px solid #000000;">{{security.fund__fund_name}}</td>-->
        <td style="border:1px solid #000000;">{{security.security.security_name}}</td>
        <td style="border:1px solid #000000;">{{security.currency.symbol}}</td>
        <td style="border:1px solid #000000;">{{security.transaction_date|date:'M d, Y'}}</td>
        <td style="border:1px solid #000000;">{{security.quantity}}</td>
        <td style="border:1px solid #000000;"><input type="number" style="height:2rem" name="price_{{ security.id }}" value="{{ security.price|remove_comma }}" step="1e-10" min="0" class="form-control" id="price">
        <input type="hidden" name="pricelist" value="price_{{ security.id }}"></td>
        <td style="border:1px solid #000000;"><input type="number" readonly style="height:2rem" name="securityfx_{{ security.id }}" value="{{ security.fxrate }}" min="0" step="1e-10" class="form-control" id="fx">
        <input type="hidden" name="fxsecuritylist" value="securityfx_{{ security.id }}"></td>
        <td style="border:1px solid #000000;">{{security.quantity|mul:security.price|floatformat:2 }}</td>
        <td style="border:1px solid #000000;">{% if security.quantity|mul:security.price|mul:security.fxrate == '' %} {% else %} $ {{security.quantity|mul:security.price|mul:security.fxrate|floatformat:2 }} {% endif%}</td>
<!--        <td style="border:1px solid #000000;"><input type="checkbox" disabled id="last_mtm" name="last_mtm" style="border-color: black;" {% if security.is_mtm_final %} checked  {% endif %}></td>-->
    </tr>
{% endif%}
{% endfor %}
{% endwith %}
