{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.tab-content {
  padding:10px;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'cfo_project/js/employee_section.js' %}"> </script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Edit MTM Fx/Price</h2>
                        <form method="post" class="form-inline" action="{% url 'mtm_security_list' %}" id="filter" data-fund-url="{% url 'ajax_load_fund' %}">
                              {% csrf_token %}
                              <div class="form-group">
                                  <lable style="color:black;font-size: 1.2rem;">Client: </lable>&ensp;
                                  <div>
                                      <fieldset disabled="disabled">
                                      {% render_field form.client class="form-control" style="border-color: black;" %}&nbsp;&nbsp;&emsp;
                                          </fieldset>
                                  </div>
                                  <lable style="color:black;font-size: 1.2rem;">Fund: </lable>&ensp;
                                  <div>
                                      <fieldset disabled="disabled">
                                      {% render_field form.fund class="form-control" style="border-color: black;" %}
                                          </fieldset>
                                  </div>
                              </div>&emsp;
                            <div class="col-sm-1">
                                    <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                </div>
<!--                              <button class="btn btn-primary" type="submit" form="filter">Select</button>-->
                          </form>

                    </div>
                    <div class="card-body pt-0 pb-5">
                                <table class="table table-striped" id="logTable" style="width:100%;text-align: center;color:black">
                                        <thead style="background: #4A8BC2;">
                                          <tr>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Date</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Status</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>
                                          </tr>
                                        </thead>
                                        <tbody id="logTbody">
                                            {% include 'trading_section/MTM/edit_mtm/funds_months_list.html' %}
                                        </tbody>
                                  </table>
<!--                          </div>-->
                        <br>
                    {% if pk > 0 %}
                        <div style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;">
                                <div class="row" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;margin-left: 1px;margin-right: 1px;">
                                            <div class="col">
                                                    <h4  style="text-align:center;color: black;">Fx List</h4>
                                            </div>
                                </div><br>
                        <form method="POST" id="form1" enctype="multipart/form-data" action="{% url 'edit_mtm' pk %}" data-url="{% url 'set_mtm_date' %}">
                            {% csrf_token %}
                            <table class="table table-striped" id="mtmFxTable" style="width:100%;text-align: center;color:black">
                                    <thead style="background: #4A8BC2;">
                                      <tr>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Local Currency</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >FX rate</th>
                                      </tr>
                                    </thead>
                                    <tbody id="fxTbody">
                                      {% include 'trading_section/MTM/edit_mtm/edit_mtm_fx_list.html' %}
                                    </tbody>
                                  </table><br>
                            <div class="row" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;margin-left: 1px;margin-right: 1px;">
                                            <div class="col">
                                                    <h4  style="text-align:center;color: black;">Price List</h4>
                                            </div>
                                </div><br>
                            <table class="table table-striped" id="mtmTable" style="width:100%;text-align: center;color:black">
                                    <thead style="background: #4A8BC2;">
                                      <tr>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
            <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Client</th>-->
            <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fund</th>-->
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Local Currency</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Date</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Quantity</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Price</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >FX rate</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Value (LC)</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Value (USD)</th>
    <!--                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" ><input type="checkbox" id="select_all" value="1" name="select_all"><br>Closing<br>MTM</th>-->
                                      </tr>
                                    </thead>
                                    <tbody id="priceTbody">
                                      {% include 'trading_section/MTM/edit_mtm/edit_mtm_price_list.html' %}
                                    </tbody>
                                  </table><br>

                                <div class="row">
                                <div class="col-sm-11">
                                </div>
                                <div class="col-sm-1">
                                    <input class="btn btn-primary" style="margin-left: -0.5rem;" onclick="return confirm('Are you sure, you want to update the MTM?')" type="submit" form="form1" name="submit" value="Submit">
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
                    </div>


        </div>

<script>
    $("#id_client").change(function () {
      $("#fund_div").removeAttr("disabled");
      var url = $("#pnlform").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': clientId
        },
        success: function (data) {
          $("#id_fund").html(data);
        }
      });

    });

$(document).ready(function() {
    if ("{{ client }}") {
   document.getElementById('id_client').value = "{{ client }}"
   var url = $("#filter").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': "{{ client }}"
        },
        success: function (data) {
          $("#id_fund").html(data);
          document.getElementById('id_fund').value = "{{ fund }}"
        }
      }); }
});
function reload()
{
    var r=confirm('Are you sure you want to unfreeze the fund (Rolling 3 months)?');
    if (r)
    {
        //write redirection code
        window.location = '{% url 'fund_unfreeze' %}';
    }
    else
   {
        //do nothing
    }
}

$(document).ready(function() {
   var table =  $('#logTable').DataTable({
        stripeClasses: [],
        "pageLength": 5,
        "initComplete": function (settings, json) {
            $("#logTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
   });
   });

$(document).ready(function() {
   var table =  $('#mtmFxTable').DataTable({
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#mtmTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
   });
   });

$(document).ready(function() {
   var table =  $('#mtmTable').DataTable({
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#mtmTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
         columnDefs: [
            { width: 110, targets: 7 },
            { width: 100, targets: 8 }
        ],
   });
   $('#select_all').on('click', function(){
      // Check/uncheck all checkboxes in the table
      var rows = table.rows({ 'search': 'applied' }).nodes();
      $('input[type="checkbox"][id="last_mtm"]', rows).prop('checked', this.checked);
   });

   // Handle click on checkbox to set state of "Select all" control
   $('#mtmTable tbody').on('change', 'input[type="checkbox"][id="last_mtm"]', function(){
      // If checkbox is not checked
      if(!this.checked){
         var el = $('#select_all').get(0);
         // If "Select all" control is checked and has 'indeterminate' property
         if(el && el.checked && ('indeterminate' in el)){
            // Set visual state of "Select all" control
            // as 'indeterminate'
            el.indeterminate = true;
         }
      }
   });
});

$( document ).ready(function() {
   $(".li-tr-active").addClass( "active" );
   $("#ui-elements").addClass( "show" );
});

$(document).ready(function() {
    // show when page load
   if ('{{msg}}'.includes('success')) {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
     }
});
  </script>
{% endblock %}