{% load widget_tweaks %}
{% load mathfilters %}
{% with number=0 %}

{% for security in fx_pair_list %}
    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{security.currency.symbol}}</td>
        <td style="border:1px solid #000000;"><input type="number" style="height:2rem" value="{{ security.fxrate }}" name="fx_{{ security.id }}" step="1e-10" min="0" max="99.9999999999" class="form-control" required id="fx">
        <input type="hidden" name="fxlist" value="fx_{{ security.currency.symbol }}"></td>
    </tr>
{% endfor %}
{% endwith %}
