
{% load mathfilters %}
{% with number=0 %}
{% for fund in mtm_date_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{fund.dt|date:'M d, Y'}}</td>
        <td style="border:1px solid #000000;">{% if fund.is_fund_freeze == True %} Locked {% else %} Unlocked {% endif%}</td>
        <td style="border:1px solid #000000;">
            {% if fund.is_bulk_upload == True %} <i class="fa fa-ban" aria-hidden="true" title="Bulk Uploaded"></i>
            {% else %}
            {% if fund.is_fund_freeze == True %} <i class="fa fa-ban" aria-hidden="true" title="Fund Freezed"></i>
            {% else %} <button type="button" style="padding:5px 8px;color:white;{% if client.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="location.href='{% url 'edit_mtm' fund.idd %}'">Edit</button>
            {% if forloop.first %}
                   {% if fund.is_mtm_final == True %} <button type="button" style="padding:5px 8px;color:white;" {% if closing_mtm_editable == False %} disabled {% else %}  {% endif%} class="btn btn-secondary" onclick="if (confirm('Are you sure, you want save this as a regular MTM for the month?')) window.location.href='{% url 'close_mtm' fund.idd 0 %}';">Set MTM - Regular</button>
                    {% else %} <button type="button" style="padding:5px 8px;color:white;" class="btn btn-secondary" {% if closing_mtm_editable == False %} disabled {% else %}  {% endif%} onclick="if (confirm('Are you sure, you want save this as the closing MTM for the month?')) window.location.href='{% url 'close_mtm' fund.idd 1 %}';">Set MTM - Closing</button>
                    {% endif %}
            {% endif %}
            {% endif%}
            {% endif%}
        </td>
    </tr>
{% endfor %}
{% endwith %}