
{% load mathfilters %}
{% with number=0 %}
{% for cp in current_position_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
<!--        <td style="border:1px solid #000000;">{{cp.client__client_name}}</td>-->
<!--        <td style="border:1px solid #000000;">{{cp.fund__fund_name}}</td>-->
        <td style="border:1px solid #000000;">{{cp.security__security_name}}</td>
        <td style="border:1px solid #000000;">{{cp.security__security_type__security_type}}</td>
        <td style="border:1px solid #000000;">{{cp.currency__symbol}}</td>
        <td class="lot" style="border:1px solid #000000;">{{cp.lot}}</td>
        <td class="date" style="border:1px solid #000000;">{{cp.tr_date|date:'M d, Y'}}</td>
        <td class="quantity" style="border:1px solid #000000;">{{cp.quantity}}</td>
        <td style="border:1px solid #000000;">{{cp.price|floatformat:2}}</td>
        <td style="border:1px solid #000000;">{{cp.fxrate|floatformat:10}}</td>
        <td style="border:1px solid #000000;">{{ cp.quantity|mul:cp.price|mul:cp.fxrate|floatformat:2 }}</td>
        <td style="border:1px solid #000000;">{% if cp.quantity > 0 %} <button type="button" class="btn btn-secondary sell-button" style="padding:5px 8px;color:white;">Sell</button> {% else %} <i class="fa fa-ban" aria-hidden="true" title="Lot Sold"></i> {% endif %}</td>

    </tr>
{% endfor %}
{% endwith %}

<script>
    $(".sell-button").click(function() {
    document.getElementById('id_operation_type').value = "Sell";
    $("#hide_div").removeClass("hidden");
    $("#sell_lot").show();
    $("#id_lot").show();
    $("#lot_div").show();
    $("#buy_currency").hide();
    $("#id_currency").hide();
    $("#currency_button").hide();
    $("#id_lot").removeAttr('value');
    // Populating Lot and validating quantity
    var $row = $(this).closest("tr");    // Find the row
    var $lot = $row.find(".lot").text(); // Find the lot
    var $qty = $row.find(".quantity").text(); // Find the quantity
    var $date = $row.find(".date").text();
    var $date = new Date($date);
    var $date = convertDate($date);
    var $min = document.getElementById("id_transaction_date_hidden").value;
    x = new Date($min);
    y = new Date($date);
    if (x < y) {
    document.getElementById("id_transaction_date").setAttribute("min", $date); }
    document.getElementById('id_lot').value = $lot;
     $("#id_quantity").attr({
       "max" : $qty.replace(',', ''),        // substitute your own
    });
    var $sec = $("#id_security").children("option:selected").html();
    document.getElementById("inline_text").innerHTML = "Sell - " + $sec;
    $("#limit").remove();
    $("input#id_quantity").after('<p style="color: red;margin-top: -10px;" id="limit"><br>Limit: ' + $qty +'</P>');
});

function convertDate(inputFormat) {
  function pad(s) { return (s < 10) ? '0' + s : s; }
  var d = new Date(inputFormat)
  return [d.getFullYear(), pad(d.getMonth()+1), pad(d.getDate()) ].join('-')
}
</script>