{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.inline-text {
    position: absolute;
    margin-top: -34px;
    margin-left: 10px;
    color: white;
    background: #4A8BC2;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.tab-content {
  padding:10px;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--<script src="{% static 'cfo_project/js/employee_section.js' %}"> </script>-->
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Back Dated Transaction</h2>
                      {% if msg %}
                         <script>
                              alert("{{msg}}");
                          </script>
                      {% endif %}

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="row">
                            <div class="col">
                                <form method="post" class="form-horizontal" id="transactionform" action="" data-fund-url="{% url 'ajax_load_fund' %}" data-security-url="{% url 'ajax_load_security' %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">{{ form.client.label }}</label>
                                    <div class="col-sm-2">
                                        <fieldset disabled="disabled">
                                    {% render_field form.client class="form-control" style="border-color: black;" %}
                                        </fieldset>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">{{ form.fund.label }}</label>
                                    <div class="col-sm-2">
                                    <fieldset disabled="disabled">
                                        {% render_field form.fund class="form-control" style="border-color: black;" %}
                                    </fieldset>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">{{ form.security.label }}</label>
                                    <div class="col-sm-2">
                                        {% render_field form.security class="form-control" style="border-color: black;" %}
                                    </div>
                                    <div class="col-sm-1">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                  </div>
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field hide">Operation Type</label>
                                    <div class="col-sm-2">
                                    {% render_field form.operation_type class="form-control hide" style="border-color: black;" %}
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="btn-group" style="float:right;">
                                            <button class="btn btn-secondary" id="buy_button" type="button" disabled style="color:white;">Buy Transaction</button>
							            </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="btn-group">
                                            <button class="btn btn-warning" type="button" style="background: #fb9800;color:white;" onclick="location.href='{% url 'security_create' %}'">
                                                <i class="fa fa-user-plus" aria-hidden="true"></i> Add Security</button>
							            </div>
                                    </div>
                                  </div>
                                <div  class="hidden" id="current_position_div" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;">
<!--                            <div class="row" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;margin-left: 1px;margin-right: 1px;">-->
<!--                                        <div class="col">-->
<!--                                                <h4  style="text-align:center;color: black;">Current Position</h4>-->
<!--                                        </div>-->
<!--                            </div><br>-->
<!--                                    <br>-->
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="#example1-tab1" class="nav-link active" aria-controls="example1-tab1" role="tab" data-toggle="tab">Current Position</a></li>
<!--                                <li class="nav-item"><a href="#example1-tab2" class="nav-link" aria-controls="example1-tab2" role="tab" data-toggle="tab">Transactions</a></li>-->
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="example1-tab1">
                                    <table class="table table-striped" id="transactionTable" style="width:100%;text-align: center;color:black">
                                        <thead style="background: #4A8BC2;">
                                          <tr>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
<!--                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Client</th>-->
<!--                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fund</th>-->
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security Type</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Local Currency</th>
                                              <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Lot</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Purchase Date</th>
                <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Broker</th>-->
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Outstanding Quantity</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Unit Cost (LC)</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fx Rate</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Cost (USD)</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>

                <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Cost Basis</th>-->
                <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Cost in USD</th>-->
                <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Remove</th>-->
                                          </tr>
                                        </thead>
                                        <tbody id="employeeTbody">
                                          {% include 'trading_section/MTM/add_transaction_current_position_list.html' %}
                                        </tbody>
                                      </table>
                                </div>
<!--                                <div role="tabpanel" class="tab-pane fade" id="example1-tab2">-->
<!--                                    <table class="table table-striped" id="transactionTable1" style="width:100%;text-align: center;color:black">-->
<!--                                    <thead style="background: #4A8BC2;">-->
<!--                                      <tr>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Client</th>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fund</th>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security</th>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security Type</th>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Lot</th>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Operation Type</th>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Transaction Date</th>-->
<!--            &lt;!&ndash;                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Broker</th>&ndash;&gt;-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Quantity</th>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Unit Cost (LC)</th>-->
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Cost (LC)</th>-->
<!--&lt;!&ndash;                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>&ndash;&gt;-->

<!--            &lt;!&ndash;                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Cost Basis</th>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Cost in USD</th>&ndash;&gt;-->
<!--            &lt;!&ndash;                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Remove</th>&ndash;&gt;-->
<!--                                      </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody id="employeeTbody1">-->
<!--                                      {% include 'trading_section/MTM/security_current_position_transaction_list.html' %}-->
<!--                                    </tbody>-->
<!--                                  </table>-->
<!--                                </div>-->
                        </div>

                    </div>
                                <br>
                                    <div class="hidden" id="hide_div" style="border-style: groove;padding-top: 20px;padding-left: 10px;">
                                        <div class="inline-text" id="inline_text">B</div>
                                    <div class="form-group row" style="margin-top:15px;">
                                    <label class="col-sm-1 col-form-label">{{ form.broker.label }}</label>
                                    <div class="col-sm-2">
                                    {% render_field form.broker class="form-control clear-field" style="border-color: black;" %}
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">Txn Date</label>
                                    <div class="col-sm-2">
                                        {% if min_date %}
                                            {% render_field form.transaction_date class="form-control" min=min_date max='2000-13-13' style="border-color: black;" %}
                                        {% else %}
                                            {% render_field form.transaction_date class="form-control" max='2000-13-13' style="border-color: black;" %}
                                        {% endif %}
                                        <input type="hidden" {% if min_date|length == 0 %} value="1901-01-01" {% else %} value="{{min_date}}" {% endif %} id="id_transaction_date_hidden">
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                        <label class="col-sm-1 col-form-label required-field" id="sell_lot">Lot</label>
                                        <div class="col-sm-2" id="lot_div">
<!--                                        <fieldset disabled="disabled">-->
                                        {% render_field form.lot class="form-control clear-field" value="0" style="border-color: black;" %}
<!--                                        </fieldset>-->
                                        </div>
                                        <label class="col-sm-1 col-form-label required-field" id="buy_currency">Currency</label>
                                        <div class="col-sm-2" id="currency_div">
                                        {% render_field form.currency class="form-control clear-field" style="border-color: black;" %}
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="btn-group">
                                                <button id="currency_button" type="button" class="btn btn-warning js-create-employee" style="background: #fb9800;color:white;" data-url="{% url 'currency_create' %}">
                                                    <i class="fa fa-user-plus" aria-hidden="true"></i> Add Currency</button>
                                            </div>
                                    </div>
                                  </div>
                                    <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">{{ form.quantity.label }}</label>
<!--                                    <label id="quantity_text" style="padding-top:1.5em;">abc</label>-->
                                    <div class="col-sm-2">
                                    {% render_field form.quantity class="form-control clear-field" min='1' style="border-color: black;" %}
                                    </div>
                                    <label class="col-sm-1 col-form-label required-field">Price</label>
                                    <div class="col-sm-2">
                                    {% render_field form.price class="form-control clear-field" min='1' style="border-color: black;" %}
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">FX Rate ($)</label>
                                    <div class="col-sm-2">
                                    {% render_field form.fxrate class="form-control clear-field" min='0' max="99.99999999" style="border-color: black;" %}
                                    </div>

                                    <div class="col-sm-1" style="text-align:right;">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                    </div>
                                </div>
<!--                                <div class="row">-->
<!--                                    <div class="col">-->
<!--                                            <button class="btn btn-primary" type="submit">Submit</button>-->
<!--                                    </div>-->
<!--                                </div>-->
                        </form>
                        <br>

                            </div>
                        </div>

                        <div class="hidden" id="missing_mtm_div" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;">
                                <div class="row" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;margin-left: 1px;margin-right: 1px;">
                                            <div class="col">
                                                    <h4  style="text-align:center;color: black;">Missing MTM Details</h4>
                                            </div>
                                </div><br>
                        <form method="POST" id="missing_mtm_list" enctype="multipart/form-data" action="{% url 'missing_mtm_security_update' %}">
                            {% csrf_token %}
                              <table class="table table-striped" id="missingMtmTable" style="width:100%;text-align: center;color:black">
                                <thead style="background: #4A8BC2;">
                                  <tr>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Local Currency</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Date</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Quantity</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Closing/Regular</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Price</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >FX rate</th>
                                  </tr>
                                </thead>
                                <tbody id="employeeTbody1">
                                  {% include 'trading_section/MTM/missing_mtm_list.html' %}
                                </tbody>
                              </table><br>
                            <div class="row">
                                <div class="col-sm-11">
                                </div>
                                <div class="col-sm-1">
                                    <input class="btn btn-primary" style="float: right;" id="save" type="submit" disabled name="save_mtm" value="Update MTM">
                                </div>
                            </div>
                        </form>
                        </div>


</div>
<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>

$("#id_client").change(function() {
    var selection = $("#id_client").children("option:selected").html();
    if (selection == "---------")
    {
        $("#transactionTable tr").show();
    } else
    {
        $("#transactionTable tr").each(function() {
            if ($(this).find("th").length == 0)
            {
                var temp = $(this).find("td").eq(1).text()
                if (temp == selection)
                    $(this).show();
                else
                    $(this).hide();
            }
        });
    }
});
$("#id_fund").change(function() {
    var selection_fund = $("#id_fund").children("option:selected").html();
    var client_selection = $("#id_client").children("option:selected").html();

    if (selection_fund == "---------")
    {
        $("#transactionTable tr").show();
    } else
    {
        $("#transactionTable tr").each(function() {
            if ($(this).find("th").length == 0)
            {
                var temp_fund = $(this).find("td").eq(2).text()
                var temp_client = $(this).find("td").eq(1).text()
                if (temp_fund == selection_fund && temp_client== client_selection)
                    $(this).show();
                else
                    $(this).hide();
            }
        });
    }
});
$("#id_security").change(function() {
    $("#current_position_div").removeClass("hidden");
    $("#buy_button").removeAttr("disabled");
      var securityId = $(this).val();
      $.ajax({
        async: false,
        url: "{% url 'update_cp_table' %}",
        data: {
          'security_id': securityId
        },
        success: function (data) {
        $('#transactionTable').DataTable().clear();
        $('#transactionTable').DataTable().destroy();
          $("#employeeTbody").html(data);
             var table =  $('#transactionTable').DataTable({
        stripeClasses: [],
        "pageLength": 5,
        "initComplete": function (settings, json) {
            $("#transactionTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
        fixedColumns: true
   });
        document.getElementById('id_broker').value = '';
        document.getElementById('id_currency').value = '';
        document.getElementById('id_lot').value = '';
        document.getElementById('id_quantity').value = '';
        document.getElementById('id_price').value = '';
        document.getElementById('id_fxrate').value = '';
        var $sec = $("#id_security").children("option:selected").html();
        var $inline_text = document.getElementById("inline_text").innerHTML;
        if ($inline_text.includes('Buy')) {
        document.getElementById("inline_text").innerHTML = "Buy - " + $sec; }
        else if ($inline_text.includes('Sell')) {
        document.getElementById("inline_text").innerHTML = "Sell - " + $sec;
        }
        $("#limit").remove();
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
         if(dd<10){
                dd='0'+dd
            }
            if(mm<10){
                mm='0'+mm
            }

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("id_transaction_date").value = today;
        }
      });
});


$("#id_operation_type").change(function () {
      $("#hide_div").removeClass("hidden");
      var selection = $("#id_operation_type").children("option:selected").html();
      if (selection == "Sell")
        {
            $("#sell_lot").show();
            $("#id_lot").show();
            $("#lot_div").show();
            $("#buy_currency").hide();
            $("#id_currency").hide();
            $("#currency_button").hide();
            $("#id_lot").removeAttr('value');

        }
        if (selection == "Buy")
        {
            $("#sell_lot").hide();
            $("#id_lot").hide();
            $("#lot_div").hide();
            $("#buy_currency").show();
            $("#id_currency").show();
            $("#currency_button").show();

        }
          });

    $("#id_client").change(function () {
      $("#fund_div").removeAttr("disabled");
      var url = $("#transactionform").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': clientId
        },
        success: function (data) {
          $("#id_fund").html(data);
        }
      });

    });



var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("id_transaction_date").setAttribute("max", today);



$(document).ready(function() {

   var table =  $('#transactionTable').DataTable({
        stripeClasses: [],
        "pageLength": 5,
        "initComplete": function (settings, json) {
            $("#transactionTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
        fixedColumns: true
   });

   var table1 =  $('#transactionTable1').DataTable({
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#transactionTable1").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
          columnDefs: [
            { width: 55, targets: 4 }
        ],
        fixedColumns: true
        // scrollY:        '24vh',
        // scrollCollapse: true
   });
  });
$(document).ready(function() {
   document.getElementById('id_client').value = "{{ selected_client }}"
   var url = $("#transactionform").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': "{{ selected_client }}"
        },
        success: function (data) {
          $("#id_fund").html(data);
          document.getElementById('id_fund').value = "{{ selected_fund }}"
        }
      });
});

$( document ).ready(function() {
   $(".li-tr-active").addClass( "active" );
   $("#ui-elements").addClass( "show" );
});

$(document).ready(function() {
    // show when page load
   if ('{{mssg}}'.includes('added')) {
    toastr.success('{{mssg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
    if ("{{ security }}" != '') {
    document.getElementById('id_security').value = "{{ security }}";
        $("#buy_button").removeAttr("disabled");
        $("#current_position_div").removeClass("hidden");
      var securityId = "{{ security }}";
      $.ajax({
        async: false,
        url: "{% url 'update_cp_table' %}",
        data: {
          'security_id': securityId
        },
        success: function (data) {
        $('#transactionTable').DataTable().clear();
        $('#transactionTable').DataTable().destroy();
          $("#employeeTbody").html(data);
             var table =  $('#transactionTable').DataTable({
        stripeClasses: [],
        "pageLength": 5,
        "initComplete": function (settings, json) {
            $("#transactionTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
        fixedColumns: true
   });
    }
    });
     }
     }
});

$( "#buy_button" ).click(function() {
    document.getElementById('id_operation_type').value = "Buy";
    $("#hide_div").removeClass("hidden");
    $("#sell_lot").hide();
    $("#id_lot").hide();
    $("#lot_div").hide();
    $("#buy_currency").show();
    $("#id_currency").show();
    $("#currency_button").show();
    $("#id_quantity").removeAttr('max');
    var $min = document.getElementById("id_transaction_date_hidden").value;
    //$min = formatDate($min)
    document.getElementById("id_transaction_date").setAttribute("min", $min);
    var $sec = $("#id_security").children("option:selected").html();
    document.getElementById("inline_text").innerHTML = "Buy - " + $sec;
    $("#limit").remove();
});

$(".js-create-employee").click(function () {
    var btn = $(this);
    $.ajax({
      async: false,
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#mymodal").modal("show");
      },
      success: function (data) {
        $(".modal-content").html(data.html_form);
      }
    });
  });

$("#mymodal").on("submit", ".js-employee-create-form", function () {
    var form = $(this);
    $.ajax({
      async: false,
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data['currency_add'] == false) {
            toastr.error('Currency already present','', {'positionClass': 'toast-top-center'}).css("width","500px");
      }
      else {
      window.location.reload();
      }
      }
    });
    return false;
  });

function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}

$("#transactionform").on("submit", function( event ) {
    var x=window.confirm("Are you sure?");
    if (x){
      var my_form = this;
         var tmp = $.ajax({
                async: false,
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: '{% url 'check_missing_mtm_for_new_transaction' %}',
                success: function(response) {
                    if (response['missing_mtm_present'] == true) {
                    alert('Please fill the below MTMs in order to successfully add this transaction.');
                    $("#missing_mtm_div").removeClass("hidden");
                    $('#missingMtmTable').DataTable().clear();
                    $('#missingMtmTable').DataTable().destroy();
                    $("#employeeTbody1").html(response['html']);
                    var table =  $('#missingMtmTable').DataTable({
                        stripeClasses: [],
                         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
                         fixedColumns: true,
                   });
                   $("input[name^='price_'], input[name^='fx_']").bind('keyup', function() {
                        if(allFilled()) $('#save').removeAttr('disabled');
                        else $('#save').attr('disabled','disabled');
                    });
                   return false;
                   }
                   else{
                   return true;
                   }
                },
                error: function(e, x, r) {
                }
            });
            if (tmp.responseText.includes('true')){
                // alert('Back-Dated transaction is not possible as there are no transaction or MTM present in the system for this Client and Fund.');
                return false;
              }
            }
    else{
        return false;
    }
});

$(document).ready(function() {
   var table =  $('#missingMtmTable').DataTable({
        stripeClasses: [],
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
   });
});

$(document).ready(function() {
    var prior_filled = true;
    $("input[name^='price_'], input[name^='fx_']").each(function() {
        if($(this).val() == '') prior_filled = false;
    });
     var table = $('#missingMtmTable').DataTable();
        if (table.data().any() ) {
            if (prior_filled == true) $('#save').removeAttr('disabled');
        }
});



function allFilled() {
    var filled = true;
    $("input[name^='price_'], input[name^='fx_']").each(function() {
        if($(this).val() == '') filled = false;
    });
    return filled;
}

  </script>
{% endblock %}