{% load widget_tweaks %}
{% load static %}
<style>
  .required-field::after {
    content: " *";
    color: red;
}
</style>

<form method="post" class="client_selection" action="{% url 'mtm_security_list' %}" enctype='multipart/form-data' data-fund-url="{% url 'ajax_load_fund' %}">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Please Select Client And Fund</h4>
  </div>

  <div class="modal-body">
        <table style="text-align : Left;">
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label class="required-field">Client:</label>
                {% render_field form.client id="mtm_client" class="form-control" %}
              </div>
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label class="required-field">Fund:</label>
                {% render_field form.fund id="mtm_fund" class="form-control" %}
              </div>
                </table>
            <div>

                <div>
                        <button class="btn btn-primary" type="submit">Select</button>
                </div>
            </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>

<script id="mtm_tag">
if( document.readyState === 'complete') {
  var numItems = $('.client_selection').length
      if (numItems > 1)
      {
        $('.client_selection').first().remove()
        $('#mtm_tag').first().remove()
      }
}
$("#mtm_client").change(function () {
     var url = $(".client_selection").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': clientId
        },
        success: function (data) {
          $("#mtm_fund").html(data);
        }
      });
    });



</script>