
{% load mathfilters %}
{% with number=0 %}
{% for cp in current_position_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{cp.client__client_name}}</td>
        <td style="border:1px solid #000000;">{{cp.fund__fund_name}}</td>
        <td style="border:1px solid #000000;">{{cp.security__security_name}}</td>

        <td style="border:1px solid #000000;">{{cp.lot}}</td>
<!--        <td style="border:1px solid #000000;">{{cp.broker}}</td>-->
        <td style="border:1px solid #000000;">{{cp.quantity}}</td>
        <td style="border:1px solid #000000;">{{cp.price|floatformat:2}}</td>
        <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if client.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" data-url="">Sell</button> <button type="button" class="btn btn-secondary" style="padding:5px 8px;color:white;" onclick="location.href='{% url 'export_users_xls' cp.id %}'" >View</button></td>
    </tr>
{% endfor %}
{% endwith %}