{% load widget_tweaks %}
{% load static %}
<style>
  .required-field::after {
    content: " *";
    color: red;
}
</style>

<form method="post" action="{% url 'currency_create' %}" enctype='multipart/form-data' class="js-employee-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Create New Currency</h4>
  </div>

  <div class="modal-body">
        <table style="text-align : Left;">
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label class="required-field">{{ form.symbol.label }}</label>
                {% render_field form.symbol class="form-control" %}
              </div>
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label class="required-field">{{ form.country.label }}</label>
                {% render_field form.country class="form-control" %}
              </div>
<!--            <div class="form-group{% if form.errors %} has-error{% endif %}">-->
<!--                <label class="required-field">{{ form.state.label }}</label>-->
<!--                {% render_field form.state class="form-control" %}-->
<!--                {% for error in form.errors %}-->
<!--                  <p class="help-block">{{ error }}</p>-->
<!--                {% endfor %}-->
<!--              </div>-->
                </table>
            <div>

                <div>
                        <button class="btn btn-primary" type="submit">Create Currency</button>
                </div>
            </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</form>