{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'cfo_project/js/employee_section.js' %}"> </script>

{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Current Position</h2>
                      {% if error %}
                         <script>
                              alert("{{error}}");
                          </script>
                      {% endif %}
                      <form method="post" class="form-inline" action="{% url 'current_position_list' %}" id="filter" data-fund-url="{% url 'ajax_load_fund' %}" >
                            {% csrf_token %}
                          <div class="form-group">
                              <lable style="color:black">Client: </lable>&ensp;
                              <div>
                                  <fieldset disabled="disabled">
                                  {% render_field form.client class="form-control" style="border-color: black;" %}&nbsp;&nbsp;&emsp;
                                  </fieldset>
                              </div>
                              <lable style="color:black">Fund: </lable>&ensp;
                              <div>
                                  <fieldset disabled="disabled">
                                  {% render_field form.fund class="form-control" style="border-color: black;" %}
                                  </fieldset>
                              </div>
                          </div>&emsp;
<!--                          <button class="btn btn-primary" type="submit">Search</button>-->
                      </form>

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="btn-group">
								<button class="btn btn-warning" style="background: #fb9800;color:white;" onclick="location.href ={% url 'add_transaction' %}">
									<i class="fa fa-user-plus" aria-hidden="true"></i> Add Transaction</button>
							</div><br><br>
                      <div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="#example1-tab1" class="nav-link active" aria-controls="example1-tab1" role="tab" data-toggle="tab">Current Position</a></li>
                                <li class="nav-item"><a href="#example1-tab2" class="nav-link" aria-controls="example1-tab2" role="tab" data-toggle="tab">Transactions</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="example1-tab1"><br>
                                    <table class="table table-striped" id="transactionTable" style="width:100%;text-align: center;color:black">
                                        <thead style="background: #4A8BC2;">
                                          <tr>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Client</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fund</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security Type</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Lot</th>
                                          <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Purchase Date</th>
                <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Broker</th>-->
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Outstanding Quantity</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Unit Cost (LC)</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fx Rate</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Cost (USD)</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>

                <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Cost Basis</th>-->
                <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Cost in USD</th>-->
                <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Remove</th>-->
                                          </tr>
                                        </thead>
                                        <tbody id="employeeTbody">
                                          {% include 'trading_section/MTM/security_current_position_list.html' %}
                                        </tbody>
                                      </table>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="example1-tab2"><br>
                                    <form method="POST" id="freezeform" enctype="multipart/form-data" action="{% url 'freeze_transaction' %}">
                                        {% csrf_token %}
                                    <table class="table table-striped" id="transactionTable1" style="width:100%;text-align: center;color:black">
                                    <thead style="background: #4A8BC2;">
                                      <tr>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Client</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fund</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Currency</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security Type</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Lot</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Operation Type</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Transaction Date</th>
            <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Broker</th>-->
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Quantity</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Unit Cost (LC)</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fx Rate</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Cost (USD)</th>
                                        {% if is_associate == True %} <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" ><input type="checkbox" id="select_all" value="1" name="select_all"><br>Lock/<br>Unlock</th> {% else %}  {% endif%}
                                          <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Update</th>
                                          <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Delete</th>
<!--                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>-->

            <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Cost Basis</th>-->
            <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Cost in USD</th>-->
            <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Remove</th>-->
                                      </tr>
                                    </thead>
                                    <tbody id="employeeTbody1">
                                      {% include 'trading_section/MTM/security_current_position_transaction_list.html' %}
                                    </tbody>
                                  </table>
                                </div>
                        </div>

                    </div>
                        <br>
                    </div>

</div>


<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>

$(document).ready(function() {
   var table =  $('#transactionTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#transactionTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
          columnDefs: [
            { width: 55, targets: 4 }
        ],
        fixedColumns: true
   });
   var table1 =  $('#transactionTable1').DataTable({
        stripeClasses: [],
        dom: 'B<"toolbar">frtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        "initComplete": function (settings, json) {
            $("#transactionTable1").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
            var is_assoc = '{{ is_associate }}'
            if ( is_assoc == 'True'){
                $("div.toolbar").html('<button class="btn btn-primary" style="float: right;margin-top: -7px;margin-left: 7px;" type="submit" onclick="return confirm(`Are you sure?`)" >Lock/Unlock</button>');
            }
          },
          columnDefs: [
            { width: 55, targets: 4 },
            { targets: -1,
        className: 'dt-body-center' }
        ],
        fixedColumns: true
   });

   // Handle click on "Select all" control
   $('#select_all').on('click', function(){
      // Check/uncheck all checkboxes in the table
      var rows = table1.rows({ 'search': 'applied' }).nodes();
      $('input[type="checkbox"][id="is_freeze"]', rows).prop('checked', this.checked);
   });

   // Handle click on checkbox to set state of "Select all" control
   $('#transactionTable1 tbody').on('change', 'input[type="checkbox"][id="is_freeze"]', function(){
      // If checkbox is not checked
      if(!this.checked){
         var el = $('#select_all').get(0);
         // If "Select all" control is checked and has 'indeterminate' property
         if(el && el.checked && ('indeterminate' in el)){
            // Set visual state of "Select all" control
            // as 'indeterminate'
            el.indeterminate = true;
         }
      }
   });
  });
  $("#id_client").change(function () {
      $("#fund_div").removeAttr("disabled");
      var url = $("#filter").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': clientId
        },
        success: function (data) {
          $("#id_fund").html(data);
        }
      });

    });

$(document).ready(function() {
   document.getElementById('id_client').value = "{{ selected_client }}"
   var url = $("#filter").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': "{{ selected_client }}"
        },
        success: function (data) {
          $("#id_fund").html(data);
          document.getElementById('id_fund').value = "{{ selected_fund }}"
        }
      });
});

$('#freezeform').on('submit', function (e) {
        $('#transactionTable1').DataTable().destroy();
    });


$( document ).ready(function() {
   $(".li-tr-active").addClass( "active" );
   $("#ui-elements").addClass( "show" );
});

$(document).ready(function() {
    // show when page load
   if ('{{msg}}'.includes('successfully')) {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
     }
      else {
     //
     }
});

$(".delete").click(function() {
  var x=window.confirm("Are you sure, you want raise a request to delete this transaction?");
    if (x){
        var url = $(this).attr('data-url');
        window.location.href = url;
        }
    else{
        return false;
    }
});
</script>

{% endblock %}