{% load widget_tweaks %}
{% load static %}


                <option value="">---------</option>
                    {% for fund in funds %}
                        <option value="{{ fund.pk }}">{{ fund.fund_name }}</option>
                    {% endfor %}

