{% load widget_tweaks %}
{% load mathfilters %}
{% load app_filters %}
{% with number=0 %}
{% for security in missing_mtm_list %}
    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{security.security_name}}
        <input type="hidden" name="security" value="{{security.security_id}}">
        </td>
        <td style="border:1px solid #000000;">{{security.symbol}}
        <input type="hidden" name="currency" value="{{security.currency_id}}">
        </td>
        <td style="border:1px solid #000000;">{{security.mtm_date}}
        <input type="hidden" name="mtm_date" value="{{security.mtm_date}}">
        </td>
        <td style="border:1px solid #000000;">{{security.quantity}}
        <input type="hidden" name="quantity" value="{{security.quantity}}">
        </td>
        <td style="border:1px solid #000000;">{% if security.is_mtm_final == True %} Closing {% else %} Regular {% endif %}
        <input type="hidden" name="is_mtm_final" value="{{security.is_mtm_final}}">
        </td>
        <td style="border:1px solid #000000;"><input type="number" required style="height:2rem" name="price_{{forloop.counter0|add:1}}"  min="0" step="1e-10" class="form-control" id="price" value="{{ security.price|remove_comma }}">
        <input type="hidden" name="pricelist" value="price_{{forloop.counter0|add:1}}"></td>
        <td style="border:1px solid #000000;"><input type="number" required style="height:2rem" name="fx_{{forloop.counter0|add:1}}" value="{{ security.fxrate }}" step="1e-10" class="form-control" id="fx">
        <input type="hidden" name="fxlist" value="fx_{{forloop.counter0|add:1}}"></td>
    </tr>
{% endfor %}
{% endwith %}
