
{% load mathfilters %}
{% with number=0 %}
{% for cp in mtm_history_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
<!--        <td style="border:1px solid #000000;">{{cp.client}}</td>-->
<!--        <td style="border:1px solid #000000;">{{cp.fund}}</td>-->
        <td style="border:1px solid #000000;">{{cp.security}}</td>
        <td style="border:1px solid #000000;">{{cp.currency}}</td>
        <td style="border:1px solid #000000;">{{cp.transaction_date|date:'M d, Y'}}</td>
        <td style="border:1px solid #000000;">{{cp.quantity}}</td>
        <td style="border:1px solid #000000;">{{cp.price|floatformat:2}}</td>
        <td style="border:1px solid #000000;">{{cp.fxrate|floatformat:10}}</td>
        <td style="border:1px solid #000000;">{{ cp.quantity|mul:cp.price|floatformat:2 }}</td>
        <td style="border:1px solid #000000;">$ {{ cp.quantity|mul:cp.price|mul:cp.fxrate|floatformat:2 }}</td>
    </tr>
{% endfor %}
{% endwith %}