{% load widget_tweaks %}
{% load mathfilters %}
{% load app_filters %}
{% with number=0 %}

{% for mtm_sold in mtm_sold_log %}
    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{mtm_sold.client}}</td>
        <td style="border:1px solid #000000;">{{mtm_sold.fund}}</td>
        <td style="border:1px solid #000000;">{{mtm_sold.operation_type}}</td>
        <td style="border:1px solid #000000;">{{mtm_sold.transaction_date|date:'M d, Y'}}</td>
 </tr>
{% endfor %}
{% endwith %}
