{% load widget_tweaks %}
{% load mathfilters %}
{% with number=0 %}
{% for cp in current_position_transaction_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{cp.client}}</td>
        <td style="border:1px solid #000000;">{{cp.fund}}</td>
        <td style="border:1px solid #000000;">{{cp.security}}</td>
        <td style="border:1px solid #000000;">{{cp.currency}}</td>
        <td style="border:1px solid #000000;">{{cp.security.security_type}}</td>
        <td style="border:1px solid #000000;">{{cp.lot}}</td>
        <td style="border:1px solid #000000;">{{cp.operation_type}}</td>
        <td style="border:1px solid #000000;">{{cp.transaction_date|date:'M d, Y'}}</td>
        <td style="border:1px solid #000000;">{{cp.quantity}}</td>
        <td style="border:1px solid #000000;">{{cp.price|floatformat:2}}</td>
        <td style="border:1px solid #000000;">{{cp.fxrate|floatformat:8}}</td>
        <td style="border:1px solid #000000;">{{ cp.quantity|mul:cp.price|mul:cp.fxrate|floatformat:2 }}</td>
        {% if is_associate == True %}
            {% if cp.is_bulk_upload == True %}
                <td style="border:1px solid #000000;"> <i class="fa fa-ban" aria-hidden="true" title="Bulk Uploaded"></i></td>
            {% else %}
                <td style="border:1px solid #000000;">
                    {% if cp.is_fund_freeze == True %}
                        <i class="fa fa-ban" aria-hidden="true" title="Fund Freezed"></i>
                    {% else %}
                        {% if cp.is_delete == False %}
                            <input type="checkbox" id="is_freeze" name="is_freeze_{{ cp.id }}" style="border-color: black;" {% if cp.is_freeze %} checked {% else %}  {% endif %}>
                            <input type="hidden" name="freeze_list" value="is_freeze_{{ cp.id }}"></td>
                        {% endif %}
                    {% endif %}
            {% endif%}
        {% else %}
        {% endif%}
        {% if cp.is_bulk_upload == True %}
                <td style="border:1px solid #000000;"> <i class="fa fa-ban" aria-hidden="true" title="Bulk Uploaded"></i></td>
        {% else %}
            {% if cp.is_freeze == True %}
                <td style="border:1px solid #000000;"> Locked </td>
            {% else %}
                <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if client.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" {% if cp.is_delete == True %} disabled {% endif%} class="btn" onclick="location.href='{% url 'transaction_update' cp.id %}'">Update</button></td>
            {% endif %}
        {% endif %}
        {% if cp.is_bulk_upload == True %}
                <td style="border:1px solid #000000;"> <i class="fa fa-ban" aria-hidden="true" title="Bulk Uploaded"></i></td>
        {% else %}
            {% if cp.is_freeze == True %}
                <td style="border:1px solid #000000;"> Locked </td>
            {% else %}
                <td style="border:1px solid #000000;"> <input type="button" style="padding:5px 8px;color:white; background: Red;" class="btn delete" {% if cp.is_delete == True %} disabled {% endif%} data-url="{% url 'raise_delete_request' cp.id %}" value="Delete" /></td>
            {% endif %}
        {% endif %}
    </tr>

{% endfor %}
</form>
{% endwith %}