{% load widget_tweaks %}
{% load static %}


                <option value="">---------</option>
                    {% for securtiy in securities %}
                        <option value="{{ securtiy.pk }}">{{ securtiy.security_name }}</option>
                    {% endfor %}

