{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<style>
th.dt-center, td.dt-center { text-align: center; }

    dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
.no-wrap{
    white-space: nowrap;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'cfo_project/js/employee_section.js' %}"> </script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                          <h2 style="font-size: 1.8rem;">MTM Update</h2>
                          {% if error %}
                              <script>
                                  alert("{{error}}");
                              </script>
                          {% endif %}

                           <div class="btn-group">
                               <form method="post" class="form-inline" action="{% url 'mtm_security_list' %}" id="filter" data-fund-url="{% url 'ajax_load_fund' %}">
                              {% csrf_token %}
                              <div class="form-group">
                                  <lable style="color:black;font-size: 1.2rem;">Client: </lable>&ensp;
                                  <div>
                                      <fieldset disabled="disabled">
                                      {% render_field form.client class="form-control" style="border-color: black;" %}&nbsp;&nbsp;&emsp;
                                          </fieldset>
                                  </div>
                                  <lable style="color:black;font-size: 1.2rem;">Fund: </lable>&ensp;
                                  <div>
                                      <fieldset disabled="disabled">
                                      {% render_field form.fund class="form-control" style="border-color: black;" %}
                                          </fieldset>
                                  </div>
                              </div>&emsp;
<!--                              <button class="btn btn-primary" type="submit" form="filter">Select</button>-->
                          </form>
								<button class="btn btn-warning" style="background: #fb9800;color:white;" onclick="location.href='{% url 'export_PL_xls' selected_client selected_fund %}'" title="Download the P/L values uptill latest MTM update for this month">
									<i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download Current Month P/L Doc</button>
							</div>
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <form method="POST" id="form1" enctype="multipart/form-data" action="{% url 'mtm_security_update' %}" data-url="{% url 'set_mtm_date' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                            <label class="col-sm-1 col-form-label required-field no-wrap">MTM Date</label>&nbsp;
                                            <div class="col-sm-2">
                                                {% if min_date %}
                                                    {% render_field mtm_form.mtm_date class="form-control" min=min_date max='2000-13-13' style="border-color: black;" %}
                                                {% else %}
                                                    {% render_field mtm_form.mtm_date class="form-control" min=min_date max='2000-13-13' style="border-color: black;" %}
                                                {% endif %}
                                            </div>
                                            <button type="button" id="update_fx" class="btn btn-warning js-create-employee" style="background: #fb9800;color:white;" data-url="{% url 'update_mtm_fx' %}">
									            Update Fx Rate</button>&nbsp;
                                            <input type="checkbox" id="select_all" value="1" style="display: none;" name="select_all">
                                    </div>
                                </div>
                            </div>
                              <table class="table table-striped" id="mtmTable" style="width:100%;text-align: center;color:black">
                                <thead style="background: #4A8BC2;">
                                  <tr>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
        <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Client</th>-->
        <!--                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fund</th>-->
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Local Currency</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Date</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Quantity</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Price</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >FX rate</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Value (LC)</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Value (USD)</th>
<!--                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" ><input type="checkbox" id="select_all" value="1" name="select_all"><br>Closing<br>MTM</th>-->
                                  </tr>
                                </thead>
                                <tbody id="employeeTbody">
                                  {% include 'trading_section/MTM/security_mtm_list.html' %}
                                </tbody>
                              </table><br>
                            <div class="row">
                                <div class="col-sm-8">
                                    <input type="hidden" id="hidden_client" value="{{ selected_client }}">
                                    <input type="hidden" id="hidden_fund" value="{{ selected_fund }}">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="update_pnl" class="btn btn-warning js-create-employee" style="background: #fb9800;color:white;" data-url="{% url 'update_sold_pnl' %}">
									            Generate P/L</button>&nbsp;
                                </div>
                                <div class="col-sm-1">
                                    <input class="btn btn-primary" type="submit" disabled form="form1" name="save_mtm" id="save" value="Update MTM">
                                </div>
                                <div class="col-sm-1">
                                    <input class="btn btn-primary" style="float: right;margin-right: -1rem;" onclick="return confirm('Are you sure, you want to save as draft?')" type="submit" form="form1" id="draft" name="draft" value="Save Draft">
                                </div>
                                <div class="col-sm-1">
                                    <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                </div>
                            </div>
                        </form>
                        <br>
                            <div style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;">
                                <div class="row" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;margin-left: 1px;margin-right: 1px;">
                                            <div class="col">
                                                    <h4  style="text-align:center;color: black;">Historical MTM Details</h4>
                                            </div>
                                </div>
                                <button class="btn btn-warning" {% if mtm_history_list|length == 0 %} disabled {% endif %} style="background: #fb9800;color:white;margin-bottom: 10px;margin-top: 10px;float: right;" onclick="location.href='{% url 'edit_mtm' 0 %}'">
									            Edit MTM</button>
                                <br>
                                <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="#example1-tab1" class="nav-link active" aria-controls="example1-tab1" role="tab" data-toggle="tab">Detailed MTM</a></li>
                                <li class="nav-item"><a href="#example1-tab2" class="nav-link" aria-controls="example1-tab2" role="tab" data-toggle="tab">MTM/Sold-Out Logs</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="example1-tab1"><br>
                                        <table class="table table-striped" id="mtmHistory" style="width:100%;text-align: center;color:black">
                                        <thead style="background: #4A8BC2;">
                                          <tr>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
        <!--                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Client</th>-->
        <!--                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fund</th>-->
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Local Currency</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Date</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Quantity</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Price</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Fx Rate</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Value (LC)</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Total Value (USD)</th>
                                          </tr>
                                        </thead>
                                        <tbody id="mtmTbody">
                                          {% include 'trading_section/MTM/mtm_history_list.html' %}
                                        </tbody>
                                      </table>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="example1-tab2"><br>
                                        <table class="table table-striped" id="mtmSoldOutLog" style="width:100%;text-align: center;color:black">
                                            <thead style="background: #4A8BC2;">
                                              <tr>
                                                <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                                <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Client</th>
                                                <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Fund</th>
                                                <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Operation</th>
                                                <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Date</th>
                                              </tr>
                                            </thead>
                                            <tbody id="mtmSoldOutLogTbody">
                                              {% include 'trading_section/MTM/mtm_sold_out_log_list.html' %}
                                            </tbody>
                                          </table>
                                    </div>
                            </div>
                    </div>
</div>


<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
if('{{ set_date }}' != 'False'){
document.getElementById('id_mtm_date').value = "{{ set_date }}"
document.getElementById("id_mtm_date").setAttribute("max", today);
}
else {
document.getElementById("id_mtm_date").setAttribute("max", today); }
});

$(document).ready(function() {
      var mtm_date = $("#id_mtm_date").val();
      var url = $("#form1").attr("data-url");
      $.ajax({
        url: url,
        data: {
          'mtm_date': mtm_date
        },
        success: function (data) {
            //
        }
      });
});
$("#id_mtm_date").change(function () {
    if ('{{ is_mtm_source_draft }}' == 'False') {
          var mtm_date = $(this).val();
          var url = $("#form1").attr("data-url");
          $.ajax({
            url: url,
            data: {
              'mtm_date': mtm_date
            },
            success: function (data) {
                //
            }
          });
     }
     else
     {
          var mtm_date = $(this).val();
          var url = '{% url 'is_mtm_fx_present' %}';
          $.ajax({
            url: url,
            data: {
              'mtm_date': mtm_date
            },
            success: function (data) {
                var fx_present = data["fx_present"]
                if (data["fx_present"] == false)
                    {
                        $("#update_fx").click();
                    }
                else
                    {
                        $("#update_fx").click();
                    }
            }
          });
     }
});


$("#id_client").change(function () {
      $("#fund_div").removeAttr("disabled");
      var url = $("#filter").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': clientId
        },
        success: function (data) {
          $("#id_fund").html(data);
        }
      });
    });
$(document).ready(function() {
   var table =  $('#mtmTable').DataTable({
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#mtmTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
         columnDefs: [
            { width: 110, targets: 7 },
            { width: 100, targets: 8 }
        ],
   });
   /*
   $('#select_all').on('click', function(){
      // Check/uncheck all checkboxes in the table
      var rows = table.rows({ 'search': 'applied' }).nodes();
      $('input[type="checkbox"][id="last_mtm"]', rows).prop('checked', this.checked);
   });

   // Handle click on checkbox to set state of "Select all" control
   $('#mtmTable tbody').on('change', 'input[type="checkbox"][id="last_mtm"]', function(){
      // If checkbox is not checked
      if(!this.checked){
         var el = $('#select_all').get(0);
         // If "Select all" control is checked and has 'indeterminate' property
         if(el && el.checked && ('indeterminate' in el)){
            // Set visual state of "Select all" control
            // as 'indeterminate'
            el.indeterminate = true;
         }
      }
   });
   */
});

$(document).ready(function() {
    var table = $('#mtmTable').DataTable();
        if ( ! table.data().any() ) {
            $("#save").attr("disabled", true);
            $("#draft").attr("disabled", true);
            }
        else {
            $("#update_pnl").remove();
}
});

$(document).ready(function() {
   $('#mtmHistory').DataTable({
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#mtmHistory").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
   });
   $('#mtmSoldOutLog').DataTable({
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#mtmHistory").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
   });
});

$(document).ready(function() {
   document.getElementById('id_client').value = "{{ selected_client }}"
   var url = $("#filter").attr("data-fund-url");
      var clientId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'client': "{{ selected_client }}"
        },
        success: function (data) {
          $("#id_fund").html(data);
          document.getElementById('id_fund').value = "{{ selected_fund }}"
        }
      });
});

$(document).ready(function() {
    var prior_filled = true;
    $("input[name^='price_'], input[name^='fx_']").each(function() {
        if($(this).val() == '') prior_filled = false;
    });
     var table = $('#mtmTable').DataTable();
        if (table.data().any() ) {
            if (prior_filled == true) $('#save').removeAttr('disabled');
        }
});

$("input[name^='price_'], input[name^='fx_']").bind('keyup', function() {
    if(allFilled()) $('#save').removeAttr('disabled');
    else $('#save').attr('disabled','disabled');
});

function allFilled() {
    var filled = true;
    $("input[name^='price_'], input[name^='fx_']").each(function() {
        if($(this).val() == '') filled = false;
    });
    return filled;
}


$("#save").click(function() {
  var x=window.confirm("Are you sure, you want save the final draft?");
    if (x){
        var y = window.confirm("Would you like to save the draft as closing MTM for the month?");
        if (y){
                var z = false;
                var mtm_date = $("#id_mtm_date").val();
                 var tmp = $.ajax({
                       global: false,
                        async: false,
                        url: "{% url 'check_closing_mtm' %}",
                        data: {
                          'mtm_date': mtm_date
                        },
                        success: function (data) {
                            if (data['closing_mtm_present'] == true){
                               $('#select_all').prop('checked', true);
                               var z = true;
                               return z;
                          }
                          else{
                            $('#select_all').prop('checked', true);
                           }
                        }
                      });
              if (tmp.responseText.includes('false')){
                window.alert('MTM not updated. Please check if last month closing MTM is updated or make sure this month closing MTM is not updated yet.');
                return false;
              }
            }
            else {
                var z = false;
                var mtm_date = $("#id_mtm_date").val();
                var tmp = $.ajax({
                    async: false,
                    url: "{% url 'check_closing_mtm' %}",
                    data: {
                      'mtm_date': mtm_date
                    },
                    success: function (data) {
                        if (data['closing_mtm_present'] == true){
                           var z = true;
                          return z;
                      }
                    }
                  });
              if (tmp.responseText.includes('false')){
                window.alert('MTM not updated. Please check if last month closing MTM is updated or make sure this month closing MTM is not updated yet.');
                return false;
              }
            }
        }
    else{
        return false;
    }
});

$( document ).ready(function() {
   $(".li-tr-active").addClass( "active" );
   $("#ui-elements").addClass( "show" );
});

$(document).ready(function() {
    // show when page load
   if ('{{mssg}}'.includes('saved') || '{{mssg}}'.includes('updated')) {
    toastr.success('{{mssg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
     }
});
</script>
{% endblock %}