{% load widget_tweaks %}
{% load mathfilters %}
{% load app_filters %}
{% with number=0 %}

{% for security in security_list %}
{% if security.quantity > 0 %}
    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
<!--        <td style="border:1px solid #000000;">{{security.client__client_name}}</td>-->
<!--        <td style="border:1px solid #000000;">{{security.fund__fund_name}}</td>-->
        <td style="border:1px solid #000000;">{{security.security__security_name}}</td>
        <td style="border:1px solid #000000;">{{security.currency__symbol}}</td>
        <td style="border:1px solid #000000;">{{security.transaction_date}}</td>
        <td style="border:1px solid #000000;">{{security.quantity}}</td>
        <td style="border:1px solid #000000;"><input type="number" style="height:2rem" name="price_{{ security.id }}"  min="0" step="1e-10" class="form-control" id="price" value="{{ security.price|remove_comma }}">
        <input type="hidden" name="pricelist" value="price_{{ security.id }}"></td>
        <td style="border:1px solid #000000;"><input type="number" readonly style="height:2rem" name="fx_{{ security.id }}" value="{{ security.fxrate }}" step="1e-10" class="form-control" id="fx">
        <input type="hidden" name="fxlist" value="fx_{{ security.id }}"></td>
<!--        <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if security.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="">Update</button></td>-->
        <td style="border:1px solid #000000;">{{security.quantity|mul:security.price|floatformat:2 }}</td>
        <td style="border:1px solid #000000;">{% if security.quantity|mul:security.price|mul:security.fxrate == '' %} {% else %} $ {{security.quantity|mul:security.price|mul:security.fxrate|floatformat:2 }} {% endif%}</td>
<!--        <td style="border:1px solid #000000;"><input type="checkbox" disabled id="last_mtm" name="last_mtm" style="border-color: black;" {% if security.is_mtm_final %} checked  {% endif %}></td>-->
    </tr>
{% endif%}
{% endfor %}
{% endwith %}
