{% extends 'index.html' %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.tab-content {
  padding:10px;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'cfo_project/js/employee_section.js' %}"> </script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Update Transaction</h2>
                      {% if error %}
                         <script>
                              alert("{{error}}");
                          </script>
                      {% endif %}

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="row">
                            <div class="col">
                                <form method="post" class="form-horizontal" id="transactionform" action="{% url 'transaction_update' form.instance.pk %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">{{ form.client.label }}</label>
                                    <div class="col-sm-2">
                                   <fieldset disabled="disabled">
                                    {% render_field form.client class="form-control" style="border-color: black;" %}
                                   </fieldset>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">{{ form.fund.label }}</label>
                                    <div class="col-sm-2">
                                    <fieldset disabled="disabled">
                                        {% render_field form.fund class="form-control" style="border-color: black;" %}
                                    </fieldset>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">{{ form.security.label }}</label>
                                    <div class="col-sm-2">
                                        <fieldset disabled="disabled">
                                        {% render_field form.security class="form-control" style="border-color: black;" %}
                                        </fieldset>
                                    </div>
<!--                                    <div class="col-sm-2">-->
<!--                                        <div class="btn-group">-->
<!--                                            <button class="btn btn-warning" type="button" style="background: #fb9800;color:white;" onclick="location.href='{% url 'security_create' %}'">-->
<!--                                                <i class="fa fa-user-plus" aria-hidden="true"></i> Add Security</button>-->
<!--							            </div>-->
<!--                                    </div>-->
                                    <div class="col-sm-1">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                  </div>
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">Operation Type</label>
                                    <div class="col-sm-2">
                                        <fieldset disabled="disabled">
                                    {% render_field form.operation_type class="form-control" style="border-color: black;" %}
                                        </fieldset>
                                    </div>
                                  </div>
                                <div class="hidden" id="hide_div" style="border-style: groove;padding-top: 20px;padding-left: 10px;">
                                    <div class="form-group row">
                                    <label class="col-sm-1 col-form-label">{{ form.broker.label }}</label>
                                    <div class="col-sm-2">
                                        <fieldset disabled="disabled">
                                    {% render_field form.broker class="form-control" style="border-color: black;" %}
                                        </fieldset>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">Txn Date</label>
                                    <div class="col-sm-2">
                                    {% render_field form.transaction_date class="form-control" max='2000-13-13' style="border-color: black;" %}
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                        <label class="col-sm-1 col-form-label required-field" id="sell_lot">Lot</label>
                                        <div class="col-sm-2" id="lot_div">
                                            <fieldset disabled="disabled">
                                                {% render_field form.lot class="form-control" style="border-color: black;" %}
                                            </fieldset>
                                        </div>
                                        <label class="col-sm-1 col-form-label required-field" id="buy_currency">Currency</label>
                                        <div class="col-sm-2" id="currency_div">
                                            <fieldset disabled="disabled">
                                        {% render_field form.currency class="form-control" style="border-color: black;" %}
                                            </fieldset>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="btn-group">
                                                <button id="currency_button" type="button" class="btn btn-warning js-create-employee" style="background: #fb9800;color:white;" data-url="{% url 'currency_create' %}">
                                                    <i class="fa fa-user-plus" aria-hidden="true"></i> Add Currency</button>
                                            </div>
                                    </div>
                                  </div>
                                    <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">{{ form.quantity.label }}</label>
                                    <div class="col-sm-2">
                                    {% render_field form.quantity value="form.quantity.value|abs" min="1" class="form-control" style="border-color: black;" %}
                                    <input type="hidden" name="hidden_quantity" id="hidden_quantity" value="{{ form.quantity.value }}">
                                    </div>
                                    <label class="col-sm-1 col-form-label required-field">Price</label>
                                    <div class="col-sm-2">
                                    {% render_field form.price class="form-control" min='1' style="border-color: black;" %}
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-1 col-form-label required-field">FX Rate</label>
                                    <div class="col-sm-2">
                                    {% render_field form.fxrate class="form-control" min='0' max="99.99999999" style="border-color: black;" %}
                                    </div>

                                    <div class="col-sm-1" style="text-align:right;">
                                            <button class="btn btn-primary" type="submit" id="save">Submit</button>
                                    </div>
                                    </div>
                                </div>
<!--                                <div class="row">-->
<!--                                    <div class="col">-->
<!--                                            <button class="btn btn-primary" type="submit">Submit</button>-->
<!--                                    </div>-->
<!--                                </div>-->
                        </form>
                        <br>

                            </div>
                        </div><br>
                        <div class="hidden" id="missing_mtm_div" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;">
                                <div class="row" style="border-top: 2px black;border-bottom: 2px black;border-style: groove;padding: 5px;margin-left: 1px;margin-right: 1px;">
                                            <div class="col">
                                                    <h4  style="text-align:center;color: black;">Missing MTM Details</h4>
                                            </div>
                                </div><br>
                        <form method="POST" id="missing_mtm_list" enctype="multipart/form-data" action="{% url 'missing_mtm_security_update' %}">
                            {% csrf_token %}
                              <table class="table table-striped" id="missingMtmTable" style="width:100%;text-align: center;color:black">
                                <thead style="background: #4A8BC2;">
                                  <tr>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Security</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Local Currency</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Date</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Quantity</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Closing/Regular</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >MTM Price</th>
                                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >FX rate</th>
                                  </tr>
                                </thead>
                                <tbody id="employeeTbody">
                                  {% include 'trading_section/MTM/missing_mtm_list.html' %}
                                </tbody>
                              </table><br>
                            <div class="row">
                                <div class="col-sm-11">
                                </div>
                                <div class="col-sm-1">
                                    <input class="btn btn-primary" style="float: right;" id="save_mtm" disabled type="submit" name="save_mtm" value="Update MTM">
                                </div>
                            </div>
                        </form>
                        </div>
</div>
</div>
<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>


$(document).ready(function() {
      $("#hide_div").removeClass("hidden");
      var selection = $("#id_operation_type").children("option:selected").html();
      if (selection == "Sell")
        {
            $("#sell_lot").show();
            $("#id_lot").show();
            $("#lot_div").show();
            $("#buy_currency").hide();
            $("#id_currency").hide();
            $("#currency_button").hide();

        }
        if (selection == "Buy")
        {
            $("#sell_lot").hide();
            $("#id_lot").hide();
            $("#lot_div").hide();
            $("#buy_currency").show();
            $("#id_currency").show();
            $("#currency_button").show();

        }
          });



var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("id_transaction_date").setAttribute("max", today);


$(document).ready(function() {
   var table =  $('#transactionTable').DataTable({
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#transactionTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
          columnDefs: [
            { width: 55, targets: 4 }
        ],
        fixedColumns: true
        // scrollY:        '24vh',
        // scrollCollapse: true
   });
   var table1 =  $('#transactionTable1').DataTable({
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#transactionTable1").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
          columnDefs: [
            { width: 55, targets: 4 }
        ],
        fixedColumns: true
        // scrollY:        '24vh',
        // scrollCollapse: true
   });
  });

$( document ).ready(function() {
   $(".li-tr-active").addClass( "active" );
   $("#ui-elements").addClass( "show" );
   if ("{{min_date}}" != '' && "{{max_quantity}}" != '') {
       var $x = Number("{{max_quantity}}".replace(',',''));
       var $y = Number("{{form.quantity.value|abs}}".replace(',',''));
       var $limit = $x + $y;
        $("#id_quantity").attr({
           "max" : $limit,        // substitute your own
        });
        $("#id_transaction_date").attr({
           "min" : "{{min_date}}",        // substitute your own
        });
        $("input#id_quantity").after('<p style="color: red;margin-top: -10px;" id="limit"><br>Limit: ' + $limit +'</P>');
   }
   else if ("{{form.operation_type.value}}" == 'Buy'){
        var $min_quantity = "{{min_quantity}}".replace(',','');
    $("#id_transaction_date").attr({
       "max" : "{{max_date}}",        // substitute your own
       "min" : "{{min_date}}"
    });
    $("#id_quantity").attr({
           "min" : $min_quantity,        // substitute your own
        });
        $("input#id_quantity").after('<p style="color: red;margin-top: -10px;" id="limit"><br>Min: ' + $min_quantity +'</P>');
   }
});

$("#transactionform").on("submit", function( event ) {
    var x=window.confirm("Are you sure?");
    if (x){
      var my_form = this;
         var tmp = $.ajax({
                async: false,
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: '{% url 'check_missing_mtm' form.instance.pk %}',
                success: function(response) {
                    if (response['missing_mtm_present'] == true) {
                    alert('Please fill the below MTMs in order to successfully edit this transaction.');
                    $("#missing_mtm_div").removeClass("hidden");
                    $('#missingMtmTable').DataTable().clear();
                    $('#missingMtmTable').DataTable().destroy();
                    $("#employeeTbody").html(response['html']);
                    var table =  $('#missingMtmTable').DataTable({
                        stripeClasses: [],
                         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
                         fixedColumns: true,
                   });
                   $("input[name^='price_'], input[name^='fx_']").bind('keyup', function() {
                        if(allFilled()) $('#save_mtm').removeAttr('disabled');
                        else $('#save_mtm').attr('disabled','disabled');
                    });
                   return false;
                   }
                   else{
                   return true;
                   }
                },
                error: function(e, x, r) {
                }
            });
            if (tmp.responseText.includes('true')){
                return false;
              }
            }
    else{
        return false;
    }
});

$(document).ready(function() {
   var table =  $('#missingMtmTable').DataTable({
        stripeClasses: [],
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
   });
});


$(document).ready(function() {
    var prior_filled = true;
    $("input[name^='price_'], input[name^='fx_']").each(function() {
        if($(this).val() == '') prior_filled = false;
    });
     var table = $('#missingMtmTable').DataTable();
        if (table.data().any() ) {
            if (prior_filled == true) $('#save_mtm').removeAttr('disabled');
        }
});



function allFilled() {
    var filled = true;
    $("input[name^='price_'], input[name^='fx_']").each(function() {
        if($(this).val() == '') filled = false;
    });
    return filled;
}
  </script>
{% endblock %}