{% load widget_tweaks %}
{% load static %}
<style>
  .required-field::after {
    content: " *";
    color: red;
}
</style>

<form method="post" action="{% url 'update_mtm_fx' %}" enctype='multipart/form-data' class="js-employee-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Update MTM Fx Rates</h4>
  </div>

  <div class="modal-body">
        {% for message in messages|slice:":1" %}
                    <div class="alert alert-success">

                        {{ message }}

                    </div>
            {% endfor %}
        <table style="text-align : Left;">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label required-field no-wrap">MTM Date</label>&nbsp;&nbsp;&nbsp;
                            <div class="col-sm-5">
                                {% if min_date %}
                                    {% render_field mtm_form.mtm_date id='id_mtm_fx_date'  class="form-control" min=min_date max='2000-13-13' style="border-color: black;" %}
                                {% else %}
                                    {% render_field mtm_form.mtm_date id='id_mtm_fx_date'  class="form-control" min=min_date max='2000-13-13' style="border-color: black;" %}
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>

                </table>
            <div>
                <table class="table table-striped" id="mtmFxTable" style="width:100%;text-align: center;color:black">
                                        <thead style="background: #4A8BC2;">
                                          <tr>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Local Currency</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >FX rate</th>
                                          </tr>
                                        </thead>
                                        <tbody id="employeeTbody">
                                          {% include 'trading_section/MTM/update_mtm_fx_list.html' %}
                                        </tbody>
                                      </table>
                        <div>
                                <button class="btn btn-primary" id="submitfx" type="submit">Submit</button>
                        </div>
                    </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
</form>
<script>
    $(document).ready(function() {
   var table =  $('#mtmFxTable').DataTable({
        stripeClasses: [],
        "initComplete": function (settings, json) {
            $("#mtmTable").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
          },
         "columnDefs": [{"className": "dt-center", "targets": "_all"}],
         fixedColumns: true,
   });
   });

$(document).ready(function() {
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
//document.getElementById("id_mtm_fx_date").setAttribute("max", today);
document.getElementById('id_mtm_fx_date').value = "{{ set_mtm_date }}"
$('#id_mtm_fx_date').prop('readonly', true);
});

$(document).ready(function() {
    var table = $('#mtmFxTable').DataTable();
        if ( ! table.data().any() ) {
            $("#submitfx").attr("disabled", true);
}
});

</script>