{% load widget_tweaks %}
{% load mathfilters %}
{% with number=0 %}

{% for security in security_list %}
{% if security.quantity > 0 %}
    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{security.currency__symbol_x}}</td>
        <td style="border:1px solid #000000;"><input type="number" style="height:2rem" value="{{ security.fxrate }}" name="fx_{{ security.id }}" min="0" max="99.9999999999" step="1e-10" class="form-control" required id="fx">
        <input type="hidden" name="fxlist" value="fx_{{ security.currency__symbol_x }}">
        <input type="hidden" name="draft_date" value="{{security.transaction_date}}" style="border-color: black;" class="form-control" id="id_draft_date">
        </td>
    </tr>
{% endif%}
{% endfor %}
{% endwith %}
