.log-in-btn {
    background-color: #808080;
    border-color: #808080;
    color: white;
    #700024
}


.register-btn {
    background-color: #700024;
    border-color: #700024;
    color: white;
}

.text-align-centre {
    text-align:center;
}
