
{% load mathfilters %}
{% with number=0 %}
{% for area in area_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{area.area_name}}</td>
        <td style="border:1px solid #000000;">{{area.description}}</td>
        <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if plant.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="location.href='{% url 'area_update' area.id %}'">Update</button></td>
        <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if plant.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="location.href='{% url 'els_assessment_xyz' act='2' assessment_date='abc' area=area.id %}'">Start Assessment</button></td>
    </tr>
{% endfor %}
{% endwith %}