{% load static %}
{% load mathfilters %}
{% with number=0 %}
{% for els in els_list %}

    <tr>
        <td style="border:1px solid #000000;" data-toggle="collapse" data-target="#tr_{{ els.id_x }}"><img src="{% static 'assessment_app/images/global/details_open.png' %}" alt="User Image" /></td>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{els.four_P_category__description}}</td>
        <td style="border:1px solid #000000;"><strong>{{els.category_name}}</strong></td>
        <td style="border:1px solid #000000;"><input type="text" name="description_{{ els.id_x }}" value="{{els.description}}" maxlength="2000" class="form-control">
                                            <input type="hidden" name="descriptionlist" value="description_{{ els.id_x }}"></td>
        <td style="border:1px solid #000000;"><input style="width: 15rem;" type='file' id='image' name='image_{{ els.id_x }}' multiple accept="image/*" data-type='image' /></td>

        <td style="border:1px solid #000000;">
            {% if els.is_evidence %}
                {% if area %}
                    <button type="button" style="padding:5px 8px;color:white;background: #2fade7;" class="btn"
                                                onclick="location.href='{% url 'download_evidence' assessment_date els.id_x 'area' area.id %}'"><i class="fa fa-download" aria-hidden="true"></i> Download Evidence</button>
                {% else %}
                    <button type="button" style="padding:5px 8px;color:white;background: #2fade7;" class="btn"
                                                onclick="location.href='{% url 'download_evidence' assessment_date els.id_x 'els' 'abc' %}'"><i class="fa fa-download" aria-hidden="true"></i> Download Evidence</button>
                {% endif %}
            {% else %}
                Evidence Not Present
            {% endif %}
        <input type="hidden" name="imagelist" value="image_{{ els.id_x }}">
        </td>
        <td style="border:1px solid #000000;" class="rating">{% if els.score__score %} {{els.score__score|floatformat:0}} {% else %} {{els.score__score|floatformat:0}} {% endif %}</td>
    </tr>
    <tr class="collapse tr_rate" id="tr_{{ els.id_x }}">
        <td colspan="8">
            <table class="table table-striped" id="" style="width:100%;text-align: center;color:black">
                <thead style="background: #4A8BC2;">
                  <tr>
                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Score</th>
                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Representation</th>
                    <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Marks</th>
                  </tr>
                </thead>
                <tbody id="elsRatingTbody">
                        <tr>
                            <td style='border:1px solid #000000;background: light grey;color: black;'>0</td>
                            <td style="border:1px solid #000000;">Not Audited</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 0 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_0" name="marks_{{ els.id_x }}" ></td>
                        </tr>
                        <tr>
                            <td style='border:1px solid #000000;background: red;color: black;'>1</td>
                            <td style="border:1px solid #000000;">{{els.1_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 1 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_1" name="marks_{{ els.id_x }}" ></td>
                        </tr>
						<tr>
                            <td style='border:1px solid #000000;background: yellow;color: black;'>2</td>
                            <td style="border:1px solid #000000;">{{els.2_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 2 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_2" name="marks_{{ els.id_x }}" ></td>
                        </tr>
						<tr>
                            <td style='border:1px solid #000000;background: yellow;color: black;'>3</td>
                            <td style="border:1px solid #000000;">{{els.3_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 3 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_3" name="marks_{{ els.id_x }}" ></td>
                        </tr>
						<tr>
                            <td style='border:1px solid #000000;background: green;color: black;'>4</td>
                            <td style="border:1px solid #000000;">{{els.4_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 4 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_4" name="marks_{{ els.id_x }}" ></td>
                        </tr>
						<tr>
                            <td style='border:1px solid #000000;background: green;color: black;'>5</td>
                            <td style="border:1px solid #000000;">{{els.5_value}}</td>
                            <td style="border:1px solid #000000;"><input type="radio" {% ifequal 5 els.score__score %} checked {% else %} {% endifequal %} value="{{els.id_x}}_5" name="marks_{{ els.id_x }}" ></td>
                        </tr>
                </tbody>
              </table>
        </td>
    </tr>

{% endfor %}
{% endwith %}