
{% load mathfilters %}
{% with number=0 %}
{% for rating in ratings %}

    <tr>
        <td style="border:1px solid #000000;{% if rating.score == 1 %}background: red;color: white;{% elif rating.score == 2 or rating.score == 3 %}background: yellow;color: black;{% elif rating.score == 4 or rating.score == 5 %}background: green;color: black;{% else %}{% endif%}">{{ rating.score }}</td>
        <td style="border:1px solid #000000;"><textarea  name="score_{{rating.score}}" cols="40" rows="2" class="form-control" required="" id="score">{{rating.description}}</textarea>
        <input type="hidden" name="scorelist" value="score_{{ rating.score }}">
        <input type="hidden" name="scorelistid" value="score_{{ rating.id }}"></td>
    </tr>
{% endfor %}
{% endwith %}