{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content%}
<style>
    dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}


dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;;
}

td.details-control {
    background: url("{% static 'assessment_app/images/global/details_open.png' %}") no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url("{% static 'assessment_app/images/global/details_close.png' %}") no-repeat center center;
}

</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Lean Six Sigma Assessment</h2>
                      {% if error %}
                          <script>
                              alert("{{error}}");
                          </script>
                      {% endif %}
                        <div class="btn-group form-inline" >
                              <div class="form-group">
                                  <lable style="color:black;font-size: 1.2rem;">Portfolio Co: </lable>&ensp;
                                  <div class="form-control" style="border-color: black;">
                                        {{ portco }}
                                  </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                  <lable style="color:black;font-size: 1.2rem;">Plant: </lable>&ensp;
                                  <div class="form-control" style="border-color: black;">
                                      {{ plant }}
                                  </div>
                              </div>&emsp;
<!--                              <button class="btn btn-primary" type="submit" form="filter">Select</button>-->
							</div>

                    </div>
                    <div class="card-body pt-0 pb-5">
<!--                        <div class="btn-group">-->
<!--								<button class="btn blueButton">-->
<!--									<i class="fa fa-user-plus" aria-hidden="true"></i> Add Category</button>-->
<!--                                &nbsp;&nbsp;<input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />-->
<!--							</div><dl>-->
<!--                            <dt class="blue"></dt>-->
<!--                            <dd>Active Category</dd>-->
<!--                            <dt class="red"></dt>-->
<!--                            <dd>Inactive Category</dd>-->
<!--                        </dl><br><br>-->
                        <form method="POST" {% if area %} action="{% url 'els_area_assessment_submit' %}" {% else %} action="{% url 'els_assessment_submit' %}" {% endif %} id="els_assessment" data-els-url="" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                            <label class="col-sm-auto col-form-label required-field no-wrap">Assessment Date</label>&nbsp;
                                            <div class="col-sm-auto">
                                                <input type="date" required max='2000-13-13' {% if assessment_date %} value="{{assessment_date}}" disabled {% else %} {% endif %} class="form-control" id="assessment_date" name="assessment_date">
                                                {% if assessment_date %}
                                                <input type="hidden" value="{{ assessment_date }}" name="assessment_date"> {% else %} {% endif %}
                                            </div>
                                        {% if area %}
                                            <label class="col-sm-auto col-form-label required-field no-wrap">Area Selected</label>&nbsp;
                                        <div class="col-sm-auto">
                                                <div class="form-control" style="border-color: black;">
                                                      {{ area }}
                                                  </div>
                                                <input type="hidden" value="{{ area.id }}" name="area_selected">
                                            </div>
                                        {% else %} {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-9">
                                    </div>
                                    <div class="col-sm-auto">
                                            <button class="btn btn-primary assessment_submit" {% if assessment_date %} {% else %} disabled {% endif %} style="float: right;" type="submit">Submit</button>
                                    </div>
                                    <div class="col-sm-auto">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                </div><br>
                                  <table class="table table-striped dataTable" id="elsAssessmentTable" style="width:100%;text-align: center;color:black">
                                    <thead style="background: #4A8BC2;">
                                      <tr>
                                          <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" ></th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >4P</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Lean Six Sigma Category</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Comments</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Evidence</th>
                                          <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Download<br>Evidence</th>
                                        <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Marked</th>
                                      </tr>
                                    </thead>
                                    <tbody id="plantTbody" >
                                      {% include 'assessment_section/els_assessment/els_assessment_list.html' %}
                                    </tbody>
                                  </table>
                        <br>
                            <div class="row">
                                    <div class="col-sm-9">
                                    </div>
                                    <div class="col-sm-auto">
                                            <button class="btn btn-primary assessment_submit" {% if assessment_date %} {% else %} disabled {% endif %} style="float: right;" type="submit">Submit</button>
                                    </div>
                                    <div class="col-sm-auto">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                </div>
                        </form>
                    </div>

</div>


<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>


<script>

$(document).ready(function() {
if ("{{ selected_portco }}"){
   document.getElementById('id_portco').value = "{{ selected_portco }}"; }
});

var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("assessment_date").setAttribute("max", today);

$( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-tr-active").addClass( "active" );
   $("#ui-elements").addClass( "show" );
});







$(document).ready(function() {
   var table =  $('.dataTable').DataTable({
        stripeClasses: [],
        scrollY:        '45vh',
        scrollCollapse: true
   });
  });

$('#more').click(function () {
if($('button span').hasClass('glyphicon-chevron-down'))
{
    $('#more').html('<span class="glyphicon glyphicon-chevron-up"></span> Less Info');
}
else
{
    $('#more').html('<span class="glyphicon glyphicon-chevron-down"></span> More Info');
}
});


$("#assessment_date").change(function () {
          var assessment_date = $(this).val();
          // $(#els_assessment).attr('data-els-url', assessment_date)
          var url = '{% url 'is_els_assessment_present' %}';
          if ("{{ area }}") {
            area = '{{area.id}}';
          }
          else
          {
            area = '0';
          }
          $.ajax({
            url: url,
            data: {
              'assessment_date': assessment_date,
              'area': area

            },
            success: function (data) {
                if (data["is_assessment_present"] == false)
                    {
                        $('button[type="submit"]').prop("disabled", false);
                    }
                else
                    {
                        var y = window.confirm("Assessment on this day already present! Would you like to view the assessment on the selected date or change the date?");
                            if (y){
                            window.location.href = '{% url 'els_area_redirection' %}';

                    }
                    else
                    {
                    //
                    }
                    $('button[type="submit"]').prop("disabled", true);
            }
            }
          });
});


function is_any_radio_selected(){
    if (!$("input[name^='marks_']:checked").val()) {
            return '0'
        }
        else {
          return '1'
        }
}

$('.assessment_submit').on("click",function() {
    if (is_any_radio_selected() == '1'){
        return true;
    }
    else{
    alert('This is an empty assessment. Please assess atleast one category to submit the assessment.');
        return false;

    }
});
</script>
{% endblock %}