
{% load mathfilters %}
{% with number=0 %}

{% for summary in summary_list_area %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{summary.date_of_assessment_started|date:'M d, Y'}}</td>
        <td style="border:1px solid #000000;">{{summary.area_name}}</td>
        <td style="border:1px solid #000000;">{{summary.status|floatformat:2}}%</td>
        <td style="border:1px solid #000000;"><button type="button" style="padding:5px 8px;color:white; background: #2fade7;" class="btn" onclick="location.href='{% url 'els_assessment_xyz' act='1' assessment_date=summary.date_of_assessment_started|date:'Y-m-d' area=summary.area_id %}'">Update/View</button></td>
    </tr>
{% endfor %}
{% endwith %}
