
{% load mathfilters %}
{% with number=0 %}

{% for summary in summary_list_els %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{summary.date_of_assessment_started|date:'M d, Y'}}</td>
        <td style="border:1px solid #000000;">{{summary.status|floatformat:2}}%</td>
<!--        <td style="border:1px solid #000000;"><button type="button" style="padding:5px 8px;color:white; background: #2fade7;" class="btn" {% ifnotequal summary.area_id None %} onclick="location.href='{% url 'els_assessment_xyz' act='1' assessment_date=summary.date_of_assessment_started|date:'Y-m-d' area=summary.area_id %}'" {% else %} onclick="location.href='{% url 'els_assessment_xyz' act='1' assessment_date=summary.date_of_assessment_started|date:'Y-m-d' area='abc' %}'" {% endifnotequal %}>Update/View</button></td>-->
            <td style="border:1px solid #000000;"><button type="button" style="padding:5px 8px;color:white; background: #2fade7;" class="btn"
                                                          {% with assess="Leadership Assessment" %}
                                                          {% ifequal summary.assessment_type assess %}
                                                                onclick="location.href='{% url 'lship_assessment_xyz' act='1' assessment_date=summary.date_of_assessment_started|date:'Y-m-d' %}'"
                                                            {% else %}
                                                                {%ifnotequal summary.area_id None %} onclick="location.href='{% url 'els_assessment_xyz' act='1' assessment_date=summary.date_of_assessment_started|date:'Y-m-d' area=summary.area_id %}'"
                                                                {% else %} onclick="location.href='{% url 'els_assessment_xyz' act='1' assessment_date=summary.date_of_assessment_started|date:'Y-m-d' area='abc' %}'"
                                                                {% endifnotequal %}
                                                            {% endifequal %} {% endwith %}>Update/View</button></td>




    </tr>
{% endfor %}
{% endwith %}
