{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.tab-content {
  padding:10px;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="{% static 'assessment_app/js/employee_section.js' %}"> </script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" >
                    <div class="card-header justify-content-between">
                      <h3 style="font-size: 1.8rem;">Portco-Plant Selection</h3>

                    </div>
                    <div class="card-body pt-0 pb-5" >
                        <div class="row">
                            <div class="col">
                                <form method="post" class="form-horizontal" id="selectionform" action="{% url 'home' %}" data-plant-url="{% url 'ajax_load_plant' %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-auto col-form-label required-field">Portfolio Co.  </label>
                                    <div class="col-sm-auto">
                                        <select name="portco" class="form-control" required id="id_portco">
                                        <option value="" >---------</option>
                                            {% for item in portco %}
                                                <option value="{{ item.id }}">{{ item.portco_name }}</option>
                                            {% endfor %}
                                            </select>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <label class="col-sm-auto col-form-label required-field">Plant  </label>
                                    <div class="col-sm-auto">
                                        <select name="plant" class="form-control" required id="id_plant">
                                            {% if selection == True %}
                                                <option value="">---------</option>
                                                    {% for item in plant %}
                                                        <option value="{{ item.id }}">{{ item.plant_name }}</option>
                                                    {% endfor %}
                                            {% else %}
                                            {% endif %}
                                            </select>
                                    </div>
<!--                                  </div>-->
<!--                                <div class="form-group row">-->
                                    <div class="col-sm-auto" style="text-align:right;">
                                            <button class="btn btn-primary" type="submit">Select</button>
                                    </div>
                                    <div class="col-sm-1">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                  </div>
                                </form>
<!--                          </div>-->
                                <div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="#example1-tab3" class="nav-link active" aria-controls="example1-tab3" role="tab" data-toggle="tab">Leadership Assessment</a></li>
                                    <li class="nav-item"><a href="#example1-tab1" class="nav-link" aria-controls="example1-tab1" role="tab" data-toggle="tab">Plant Assessment</a></li>
                                    {% if is_acquired %}
                                    <li class="nav-item"><a href="#example1-tab2" class="nav-link" aria-controls="example1-tab2" role="tab" data-toggle="tab">Sub-Plant Assessment</a></li>
                                    {% endif %}

                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade" id="example1-tab1"><br>
                                        <table class="table table-striped dataTable" id="summaryTable" style="width:100%;text-align: center;color:black">
                                        <thead style="background: #4A8BC2;">
                                          <tr>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Assessment Date</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Status</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Rating Based Assessment</th>
                                            <!--<th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Yes/No Question Based Assessment</th>-->
                                          </tr>
                                        </thead>
                                        <tbody id="summaryTbody">
                                            {% include 'admin/landing_page/els_assessment_list.html' %}
                                        </tbody>
                                  </table>
                                    </div>
                                    {% if is_acquired %}
                                    <div role="tabpanel" class="tab-pane fade" id="example1-tab2"><br>
                                        <table class="table table-striped dataTable" id="summaryAreaTable" style="width:100%;text-align: center;color:black">
                                        <thead style="background: #4A8BC2;">
                                          <tr>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Assessment Date</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Area Name</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Status</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% include 'admin/landing_page/area_assessment_list.html' %}
                                        </tbody>
                                  </table>
                                    </div>
                                    {% endif %}
                                    <div role="tabpanel" class="tab-pane fade show active" id="example1-tab3"><br>
                                        <table class="table table-striped dataTable" id="summaryLeadershipTable" style="width:100%;text-align: center;color:black">
                                        <thead style="background: #4A8BC2;">
                                          <tr>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >#</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Assessment Date</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;" >Status</th>
                                            <th scope="col" style="border-collapse:collapse;border:1px solid #000000;color: white;">Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% include 'admin/landing_page/leadership_assessment_list.html' %}
                                        </tbody>
                                  </table>
                                    </div>
                            </div>

                    </div>

                        <br>
                                </div>
                        </div>

                    </div>
</div>

<script>
$("#id_portco").change(function () {
      var url = $("#selectionform").attr("data-plant-url");
      var portco = $(this).val();
      $.ajax({
        url: url,
        data: {
          'portco': portco
        },
        success: function (data) {
          $("#id_plant").html(data);
        }
      });

    });


$(document).ready(function() {
    if ("{{ selection }}" == "True") {
    document.getElementById('id_portco').value = "{{ portco_selected }}";
    document.getElementById('id_plant').value = "{{ plant_selected }}";
    if ('{{msg}}' != '') {
    toastr.success('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","500px").css("background-color","green");
    }
    }
    else
    {
        if ('{{msg}}' != '') {
        toastr.warning('{{msg}}','', {'positionClass': 'toast-top-center'}).css("width","700px");
        }
    }
});

$(document).ready(function() {
   var table =  $('#summaryTable').DataTable({
        stripeClasses: [],
        scrollCollapse: true
   });
  });

  $(document).ready(function() {
   var table =  $('#summaryAreaTable').DataTable({
        stripeClasses: [],
        scrollCollapse: true
   });
  });
  $(document).ready(function() {
   var table =  $('#summaryLeadershipTable').DataTable({
        stripeClasses: [],
        scrollCollapse: true
   });
  });
  </script>
{% endblock %}