#foo {
    text-align : center;
}

#form1 {
    text-align : left;
}

.buttonHolder{ text-align: center; }

#form2 {
    text-align : left;
}

#card_header{
    padding-top: -2rem;
    padding-bottom: 1rem;
}

.required-field::after {
    content: " *";
    color: red;
}


#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}


#empTable tbody th, #empTable tbody td {
    padding: 5px 10px;
}

#empTable_paginate {margin-top: 8px !important;}


.notification{
    position: absolute;
    top: 5rem;
    right: 1rem;
}

#empTable tbody tr.myeven{
    background-color:#f2dede;
}
#empTable tbody tr.myodd{
    background-color:#bce8f1;
}



