
{% load mathfilters %}
{% with number=0 %}
{% for els in els_list %}

    <tr>
        <td style="border:1px solid #000000;">{{forloop.counter0|add:1}}</td>
        <td style="border:1px solid #000000;">{{els.category_name}}</td>
        <td style="border:1px solid #000000;">{{els.four_P_category}}</td>
        <td style="border:1px solid #000000;"> <button type="button" style="padding:5px 8px;color:white;{% if plant.is_delete == True %} background: Red; {% else %} background: #2fade7; {% endif%}" class="btn" onclick="location.href='{% url 'els_update' els.id %}'">Update</button>
           </td>
    </tr>
{% endfor %}
{% endwith %}