{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<style>
 .required-field::after {
    content: " *";
    color: red;
}
.no-wrap{
    white-space: nowrap;
}
#id_employee {
    height: 10rem;
    overflow-y: scroll;
    font-size: 0.98rem;
    padding: .5rem 1.06rem;
    border-color: #e5e9f2;
    border: 1px solid #ced4da;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: White;
    color: #111;
    font-size: 120%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
dl {
    float: right;
    text-align: center;
    margin-top: 1rem;
}
dl dt{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
dl dd{
    display: inline-block;
    margin: 0px 10px 0px 3px;
    padding-bottom: 0;
    vertical-align: middle;
}
dl dt.red{
    background: red;
}
dl dt.blue{
    background: #2fade7;
}

.hidden{
visibility:hidden;
overflow:hidden;
width:0px;
height:0px;
}
.hide{
display: none;
}
</style>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}


<div class="card card-table-border-none" id="recent-orders" style="height: 100%;">
                    <div class="card-header justify-content-between">
                      <h2 style="font-size: 1.8rem;">Create New ELS Category</h2>
                      {% if error %}
                         <script>
                              alert("{{error}}");
                          </script>
                      {% endif %}

                    </div>
                    <div class="card-body pt-0 pb-5">
                        <div class="row">
                            <div class="col">
                                <form method="post" id="elsform" data-state-url="{% url 'ajax_load_state' %}" class="form-horizontal" action="{% url 'els_yes_no_create' %}" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">{{ form.category_name.label }}</label>
                                    <div class="col-sm-3">
                                       {% render_field form.category_name class="form-control" %}
                                    </div>
                                    <label class="col-sm-1 col-form-label required-field no-wrap">4P Category</label>
                                        <div class="col-sm-3">
                                            {% render_field form.four_P_category  class="form-control" %}
                                        </div>
                                  </div>
                                    <div class="form-group row">
                                    <label class="col-sm-1 col-form-label required-field">Description</label>
                                        <div class="col-sm-3">
                                            {% render_field form.category_description rows="6" class="form-control" %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <h3>Add Scoring Criteria</h3>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <div class="form-group row form_row">
                                                <label class="col-sm-1 col-form-label required-field">Question Type</label>
                                                <div class="col-sm-2">
                                                   <select name="is_target_1" class="form-control target_question" id="id_is_target_1">
                                                    <option value="Target">Target Question</option>
                                                    <option value="Regular" selected="">Regular Question</option>
                                                  </select>
                                                    <input type="hidden" name="targetlist" value="is_target_1">
                                                </div>
                                                <label class="col-sm-1 col-form-label required-field no-wrap">Question Text</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" name="description_1" maxlength="2000" class="form-control" required="">
                                                        <input type="hidden" name="descriptionlist" value="description_1">
                                                    </div>
                                                <label class="col-sm-1 col-form-label required-field">Weight (Yes)</label>
                                                    <div class="col-sm-1">
                                                        <input type="number" name="yes_1" min="0" class="form-control" required>
                                                        <input type="hidden" name="yes" value="yes_1">
                                                    </div>
                                                <label class="col-sm-1 col-form-label required-field">Weight (No)</label>
                                                    <div class="col-sm-1">
                                                        <input type="number" name="no_1" min="0" class="form-control" required>
                                                        <input type="hidden" name="no" value="no_1">
                                                    </div>
                                                <div class="col-sm-1">
                                                        <button class="btn btn-primary" style="float: right;" id="add_new" type="button"><i class="fa fa-plus" aria-hidden="true"></i>
                                                            Add More</button>
                                                </div>
                                            </div>
                                  </div>

                                <div class="row">
                                    <div class="col-sm-10">
                                    </div>
                                    <div class="col-sm-1">
                                            <button class="btn btn-primary" style="float: right;" type="submit">Create Category</button>
                                    </div>
                                    <div class="col-sm-1">
                                            <input type="button" class="btn btn-danger" value="Back" onclick="history.back(-1)" />
                                    </div>
                                </div>
                        </form>
                        <br>

                            </div>
                        </div>


                    </div>

</div>
<div class="modal" tabindex="-1" id="mymodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
    $(".li-home-active").removeClass( "active" );
   $(".li-admin-active").addClass( "active" );
   $("#dashboard").addClass( "show" );
});

$("#id_country").change(function () {
      var url = $("#plantform").attr("data-state-url");
      var country = $(this).val();
      $.ajax({
        url: url,
        data: {
          'country': country
        },
        success: function (data) {
          $("#id_state").html(data);
        }
      });

    });

$(document).ready(function() {
   var table =  $('.dataTable').DataTable({
        stripeClasses: [],
        scrollY:        '45vh',
        scrollCollapse: true
   });
  });

$( "#add_new" ).click(function() {
    var numItems = $('.form_row').length
    numItems = numItems + 1
    $( '<div class="form-group row form_row"><label class="col-sm-1 col-form-label required-field">Question Type</label>&nbsp;<div class="col-sm-2"><select name="is_target_' + numItems + '" class="form-control target_question" id="id_is_target_' + numItems + '"><option value="Target">Target Question</option><option value="Regular" selected="">Regular Question</option></select><input type="hidden" name="targetlist" value="is_target_' + numItems + '"></div><label class="col-sm-1 col-form-label required-field no-wrap">Question Text</label><div class="col-sm-3"><input type="text" name="description_' + numItems + '" maxlength="2000" class="form-control" required=""><input type="hidden" name="descriptionlist" value="description_' + numItems + '"></div><label class="col-sm-1 col-form-label required-field">Weight (Yes)</label><div class="col-sm-1"><input type="number" name="yes_' + numItems + '" min="0" class="form-control" required><input type="hidden" name="yes" value="yes_' + numItems + '"></div><label class="col-sm-1 col-form-label required-field">Weight (No)</label><div class="col-sm-1"><input type="number" name="no_' + numItems + '" min="0" class="form-control" required><input type="hidden" name="no" value="no_' + numItems + '"></div></div>' ).insertAfter( $(".form_row").last() );
});




$(document).on('change','.target_question',function(){

  var target = $(this).val();
        if (target == 'Target')
        {
            var name = $(this).attr("name");
            name = name.split("_")[2];
            $("input[name^='yes_" + name + "']").val(0);
            $("input[name^='yes_" + name + "']").attr("readonly", true);
            $("input[name^='no_" + name + "']").val(0);
            $("input[name^='no_" + name + "']").attr("readonly", true);
        }
        else {
            var name = $(this).attr("name");
            name = name.split("_")[2];
            $("input[name^='yes_" + name + "']").attr("readonly", false);
            $("input[name^='no_" + name + "']").attr("readonly", false);
        }

});
</script>
{% endblock %}